-- ----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 1.92
-- http://www.sqlscripter.com
-- 15.02.2008
-- 14 Records
-- ----------------------------------------------------------------

-- Delete all records first
DELETE FROM [dbo].[BERECHNUNGEN016]
GO



INSERT INTO [dbo].[BERECHNUNGEN016] ([ID016], [FAKTOR016], [ORDER016], [MAXWERT016], [CAPTION016], [CAPTIONSQL016], [VALUESQL016], [MAXVALUE016], [LOCKED016], [SAVEFIELD016], [PUNKTESAVEFIELD016])
VALUES ('96ebfc16-ca87-48e5-9cd9-16e821433eb2', 0, 3, 0, '2. a) Angerechnete Monate Wehrdienst / Elternzeit', NULL, NULL, 0, 0, 'PUNKTE15013', NULL)

INSERT INTO [dbo].[BERECHNUNGEN016] ([ID016], [FAKTOR016], [ORDER016], [MAXWERT016], [CAPTION016], [CAPTIONSQL016], [VALUESQL016], [MAXVALUE016], [LOCKED016], [SAVEFIELD016], [PUNKTESAVEFIELD016])
VALUES ('e68becad-5479-4397-b210-34dd9ea20b4c', 0.3, 15, NULL, '    b) Sonstige Fortbildungen (Halbtage)', NULL, '', NULL, 0, 'PUNKTE14013', 'PUNKTE07013')

INSERT INTO [dbo].[BERECHNUNGEN016] ([ID016], [FAKTOR016], [ORDER016], [MAXWERT016], [CAPTION016], [CAPTIONSQL016], [VALUESQL016], [MAXVALUE016], [LOCKED016], [SAVEFIELD016], [PUNKTESAVEFIELD016])
VALUES ('5ef32adf-5af4-46fe-ab85-550a1479b9de', 5, 1, NULL, '1. Note Staatsexamen', NULL, 'SELECT EXANOTE010 AS WERT FROM RA010', NULL, -1, '', 'PUNKTE04013')












