USE [NotareTest]
GO
/****** Objekt:  View [dbo].[MitbewerberAbgesagtDaten]    Skriptdatum: 09/02/2011 13:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[MitbewerberAbgesagtDaten]
AS
SELECT     TOP 100 PERCENT dbo.RA010.ID010 AS PersID, CASE WHEN ISNULL(dbo.RA010.TITEL010, '') = '' THEN ISNULL(dbo.RA010.NACHNAME010, '') 
                      + ', ' + ISNULL(dbo.RA010.VORNAME010, '') ELSE ISNULL(dbo.RA010.TITEL010, '') + ' ' + ISNULL(dbo.RA010.NACHNAME010, '') 
                      + ', ' + ISNULL(dbo.RA010.VORNAME010, '') END AS AMitbewerberVoll, CASE WHEN ISNULL(dbo.RA010.TITEL010, '') 
                      = '' THEN dbo.RA010.NACHNAME010 ELSE ISNULL(dbo.RA010.TITEL010, '') + ' ' + dbo.RA010.NACHNAME010 END AS AMitbewerberNachname, 
                      ISNULL(dbo.RA010.ANREDE010, '') AS AMitbewerberAnrede, ISNULL(dbo.RA010.TITEL010, '') AS AMitbewerberTitel, ISNULL(dbo.RA010.NAMEZUS010, 
                      '') AS AMitbewerberNamenszusatz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geehrte Frau' ELSE 'Sehr geehrter Herr' END AS AMitbewerberAnredeVoll, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin' ELSE 'Herrn Rechtsanwalt' END AS AMitbewerberAnredeFormal, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geerhrte Frau ' ELSE 'Sehr geehrter Herr ' END + CASE WHEN ISNULL(TITEL010, '') 
                      = '' THEN dbo.RA010.NACHNAME010 ELSE ISNULL(TITEL010, '') + ' ' + dbo.RA010.NACHNAME010 END AS AMitbewerberAnredeVollName, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin ' ELSE 'Herr Rechtsanwalt ' END + CASE WHEN ISNULL(TITEL010, '') 
                      = '' THEN ISNULL(dbo.RA010.VORNAME010, '') + ' ' + dbo.RA010.NACHNAME010 ELSE ISNULL(TITEL010, '') + ' ' + ISNULL(dbo.RA010.VORNAME010, '') 
                      + ' ' + dbo.RA010.NACHNAME010 END AS AMitbewerberAnredeFormalName, ISNULL(dbo.RA010.AMTORT010, '-') AS AMitbewerberAmtssitz, 
                      dbo.BEWERB013.EINGANG013 AS AMitbewerberBewDatum, dbo.RA010.AZ010 AS AMitbewerberAZVI, ISNULL(dbo.BEWERB013.RANG013, '') 
                      AS AMitbewerberRang, dbo.RA010.AG010 AS AMitbewerberAGzugelassen, dbo.RA010.LG010 AS AMitbewerberLGZugelassen, 
                      ISNULL(dbo.RA010.VORNAME010, '') AS AMitbewerberVorname, ISNULL(CAST(dbo.RA010.EXANOTE010 AS Varchar(8)), '-') 
                      AS AMitbewerberNoteStaatsEx, ISNULL(dbo.RA010.EXANOTE010, 0) * 5 AS AMitbewerberPunkteStaatsexamen, 
                      ISNULL(dbo.BEWERB013.PUNKTE05013, 0) AS AMitbewerberPunkteAnwalttätigkeit, ISNULL(dbo.BEWERB013.PUNKTE06013, 0) 
                      AS AMitbewerberPunkteFortbildungen3Jahre, ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS AMitbewerberPunkteSonstigeFortbildungen, 
                      ISNULL(dbo.BEWERB013.PUNKTE06013, 0) + ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS AMitbewerberPunkteFortbildungenGesamt, 
                      ISNULL(dbo.BEWERB013.PUNKTE08013, 0) AS AMitbewerberPunkteNS3Jahren, ISNULL(dbo.BEWERB013.PUNKTE09013, 0) 
                      AS AMitbewerberPunkteNS200, ISNULL(dbo.BEWERB013.PUNKTE10013, 0) AS AMitbewerberPunkteNS500, ISNULL(dbo.BEWERB013.PUNKTE11013, 
                      0) AS AMitbewerberPunkteNS1000, ISNULL(dbo.BEWERB013.PUNKTE12013, 0) AS AMitbewerberPunkteNSab1000, CAST(CONVERT(money, 
                      ISNULL(dbo.BEWERB013.PUNKTE03013, 0)) AS varchar(30)) AS AMitbewerberPunkte, ISNULL(dbo.BEWERB013.PUNKTE02013, 0) 
                      AS AMitbewerberNSin3Jahren, ISNULL(dbo.BEWERB013.PUNKTE18013, 0) AS AMitbewerberSonstNS200, ISNULL(dbo.BEWERB013.PUNKTE19013, 0) 
                      AS AMitbewerberSonstNS500, ISNULL(dbo.BEWERB013.PUNKTE20013, 0) AS AMitbewerberSonstNS1000, CASE WHEN (ISNULL(PUNKTE01013, 0) 
                      - ISNULL(PUNKTE02013, 0) - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) < 0 THEN 0 ELSE (ISNULL(PUNKTE01013, 0) 
                      - ISNULL(PUNKTE02013, 0) - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) END AS AMitbewerberSonstNSab1000, 
                      dbo.RA010.ID010 AS AMitbewerberPersID, ISNULL(dbo.BEWERB013.PUNKTE08013, 0) + ISNULL(dbo.BEWERB013.PUNKTE09013, 0) 
                      + ISNULL(dbo.BEWERB013.PUNKTE10013, 0) + ISNULL(dbo.BEWERB013.PUNKTE11013, 0) + ISNULL(dbo.BEWERB013.PUNKTE12013, 0) 
                      AS AMitbewerberPunkteNSGesamt, ISNULL(dbo.BEWERB013.PUNKTE16013, 0) AS AMitbewerberSonderpunkte, 
                      ISNULL(dbo.BEWERB013.PUNKTE13013, 0) AS AMitbewerberHTFortbildungen3Jahre, ISNULL(dbo.BEWERB013.PUNKTE14013, 0) 
                      AS AMitbewerberHTSonstFortbildungen, dbo.BEWERB013.FK012013 AS StellenID, ISNULL(dbo.BEWERB013.PUNKTE21013, 0) 
                      AS AMitbewerberMonateAnwalt, CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RechtsanwÃ¤ltin ' ELSE 'Rechtsanwalt ' END AS AMitbewerberAmtsbez,
                       CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RA in ' ELSE 'RA ' END AS AMitbewerberAmtsbezKurz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Notarin' ELSE 'Notar ' END AS AMitbewerberNotar
FROM         dbo.RA010 INNER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013
ORDER BY ISNULL(dbo.BEWERB013.RANG013, '')
