USE [Notare]
GO
/****** Objekt:  Table [dbo].[FRIST024]    Skriptdatum: 01/10/2011 13:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FRIST024](
	[ID024] [uniqueidentifier] NOT NULL CONSTRAINT [DF_FRIST024_ID024]  DEFAULT (newid()),
	[FK010024] [uniqueidentifier] NULL,
	[FK013024] [uniqueidentifier] NULL,
	[FRIST024] [datetime] NULL,
	[BEMERKUNG024] [varchar](55) COLLATE Latin1_General_CI_AS NOT NULL,
	[CREATE024] [datetime] NOT NULL CONSTRAINT [DF_FRIST024_CREATE024]  DEFAULT (getdate()),
	[MODIFY024] [datetime] NULL CONSTRAINT [DF_FRIST024_MODIFY024]  DEFAULT (getdate()),
	[CFROM024] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[MFROM024] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
 CONSTRAINT [PK_FRIST024] PRIMARY KEY CLUSTERED 
(
	[ID024] ASC
) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF