USE [NotareTest]
GO
/****** Objekt:  View [dbo].[MitbewerberDaten]    Skriptdatum: 09/13/2011 13:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER VIEW [dbo].[MitbewerberDaten]
AS
SELECT     TOP 100 PERCENT dbo.EmpfängerDaten.PersID, dbo.EmpfängerDaten.PersID AS MitbewerberPersID, dbo.BEWERB013.ID013, 
                      dbo.EmpfängerDaten.RAVornameNachname AS MitbewerberVoll, dbo.EmpfängerDaten.RANachname AS MitbewerberNachname, 
                      dbo.EmpfängerDaten.RAVorname AS MitbewerberVorname, dbo.EmpfängerDaten.RAAnrede AS MitbewerberAnrede, 
                      dbo.EmpfängerDaten.RAAnredeVoll AS MitbewerberAnredeVoll, dbo.EmpfängerDaten.RAAnredeFormal AS MitbewerberAnredeFormal, 
                      dbo.EmpfängerDaten.RAAnredeVollName AS MitbewerberAnredeVollName, 
                      dbo.EmpfängerDaten.RAAnredeFormalName AS MitbewerberAnredeFormalName, dbo.EmpfängerDaten.RAAmtssitz AS MitbewerberAmtssitz, 
                      dbo.BEWERB013.EINGANG013 AS MitbewerberBewDatum, dbo.EmpfängerDaten.RAAZVI AS MitbewerberAZVI, ISNULL(dbo.BEWERB013.RANG013, '') 
                      AS MitbewerberRang, dbo.EmpfängerDaten.RAAGzugelassen AS MitbewerberAGzugelassen, 
                      dbo.EmpfängerDaten.RALGZugelassen AS MitbewerberLGZugelassen,  
                       ISNULL(dbo.BEWERB013.PUNKTESUM013, 0) AS MitbewerberPunkte, 
                      dbo.BEWERB013.FK012013 AS StellenID,  IsNull(BEWERB013.PUNKTE02013,0) AS MitbewerberNoteFachprüfung,
						IsNull(BEWERB013.PUNKTE04013,0) AS MitbewerberPunkteFachprüfung,
                      dbo.EmpfängerDaten.RAAmtsbez AS MitbewerberAmtsbez, dbo.EmpfängerDaten.RAAmtsbezKurz AS MitbewerberAmtsbezKurz, 
                      dbo.EmpfängerDaten.RANotar AS MitbewerberNotar, dbo.BEWERB013.PUNKTE01013 AS MitbewerberNoteStaatsexamen, 
                      dbo.BEWERB013.PUNKTE03013 AS MitbewerberPunkteStaatsexamen
FROM         dbo.BEWERB013 RIGHT OUTER JOIN
                      dbo.EmpfängerDaten ON dbo.BEWERB013.FK010013 = dbo.EmpfängerDaten.PersID
ORDER BY ISNULL(dbo.BEWERB013.RANG013, '')

