USE [NotareTest]
GO
/****** Objekt:  View [dbo].[MitbewerberAbgesagtDaten]    Skriptdatum: 09/13/2011 12:58:22 ******/
-- MW 13.09.2011 An geänderte Punkteberechnung angepasst
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[MitbewerberAbgesagtDaten]
AS
SELECT     TOP 100 PERCENT dbo.RA010.ID010 AS PersID, CASE WHEN ISNULL(dbo.RA010.TITEL010, '') = '' THEN ISNULL(dbo.RA010.NACHNAME010, '') 
                      + ', ' + ISNULL(dbo.RA010.VORNAME010, '') ELSE ISNULL(dbo.RA010.TITEL010, '') + ' ' + ISNULL(dbo.RA010.NACHNAME010, '') 
                      + ', ' + ISNULL(dbo.RA010.VORNAME010, '') END AS AMitbewerberVoll, CASE WHEN ISNULL(dbo.RA010.TITEL010, '') 
                      = '' THEN dbo.RA010.NACHNAME010 ELSE ISNULL(dbo.RA010.TITEL010, '') + ' ' + dbo.RA010.NACHNAME010 END AS AMitbewerberNachname, 
                      ISNULL(dbo.RA010.ANREDE010, '') AS AMitbewerberAnrede, ISNULL(dbo.RA010.TITEL010, '') AS AMitbewerberTitel, ISNULL(dbo.RA010.NAMEZUS010, 
                      '') AS AMitbewerberNamenszusatz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geehrte Frau' ELSE 'Sehr geehrter Herr' END AS AMitbewerberAnredeVoll, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin' ELSE 'Herrn Rechtsanwalt' END AS AMitbewerberAnredeFormal, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geerhrte Frau ' ELSE 'Sehr geehrter Herr ' END + CASE WHEN ISNULL(TITEL010, '') 
                      = '' THEN dbo.RA010.NACHNAME010 ELSE ISNULL(TITEL010, '') + ' ' + dbo.RA010.NACHNAME010 END AS AMitbewerberAnredeVollName, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin ' ELSE 'Herr Rechtsanwalt ' END + CASE WHEN ISNULL(TITEL010, '') 
                      = '' THEN ISNULL(dbo.RA010.VORNAME010, '') + ' ' + dbo.RA010.NACHNAME010 ELSE ISNULL(TITEL010, '') + ' ' + ISNULL(dbo.RA010.VORNAME010, '') 
                      + ' ' + dbo.RA010.NACHNAME010 END AS AMitbewerberAnredeFormalName, ISNULL(dbo.RA010.AMTORT010, '-') AS AMitbewerberAmtssitz, 
                      dbo.BEWERB013.EINGANG013 AS AMitbewerberBewDatum, dbo.RA010.AZ010 AS AMitbewerberAZVI, ISNULL(dbo.BEWERB013.RANG013, '') 
                      AS AMitbewerberRang, dbo.RA010.AG010 AS AMitbewerberAGzugelassen, dbo.RA010.LG010 AS AMitbewerberLGZugelassen, 
                      ISNULL(dbo.RA010.VORNAME010, '') AS AMitbewerberVorname, ISNULL(CAST(dbo.BEWERB013.PUNKTE01013 AS Varchar(8)), '-') 
                      AS AMitbewerberNoteStaatsEx, ISNULL(dbo.BEWERB013.PUNKTE03013, 0) AS AMitbewerberPunkteStaatsexamen, 
                       CAST(CONVERT(money,ISNULL(dbo.BEWERB013.PUNKTESUM013, 0)) AS varchar(30)) AS AMitbewerberPunkte,  
                      dbo.RA010.ID010 AS AMitbewerberPersID, dbo.BEWERB013.FK012013 AS StellenID, 
						CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RechtsanwÃ¤ltin ' ELSE 'Rechtsanwalt ' END AS AMitbewerberAmtsbez,
                       CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RA in ' ELSE 'RA ' END AS AMitbewerberAmtsbezKurz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Notarin' ELSE 'Notar ' END AS AMitbewerberNotar
FROM         dbo.RA010 INNER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013
ORDER BY ISNULL(dbo.BEWERB013.RANG013, '')
