USE [NotareTest]
GO
/****** Objekt:  View [dbo].[PunkteBewerber]    Skriptdatum: 09/13/2011 14:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER VIEW [dbo].[PunkteBewerber]
AS
SELECT     ISNULL(CAST(dbo.BEWERB013.PUNKTE01013 AS Varchar(8)), '-') AS NoteStaatsEx, ISNULL(dbo.BEWERB013.PUNKTE03013, 0) AS PunkteStaatsexamen, 
                      ISNULL(CAST(dbo.BEWERB013.PUNKTE01013 AS Varchar(8)), '-') AS NoteFachprüfung, 
					  ISNULL(dbo.BEWERB013.PUNKTE03013, 0) AS PunkteFachprüfung,
                      ISNULL(dbo.BEWERB013.PUNKTESUM013, 0) AS Punkte, dbo.STELLEN012.FRIST012 AS Bewebungsfrist, 
					  dbo.RA010.ID010 AS PersID, 
                      
FROM         dbo.RA010 LEFT OUTER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013 LEFT OUTER JOIN
                      dbo.STELLEN012 ON dbo.STELLEN012.ID012 = dbo.BEWERB013.FK012013


