USE [NotareTest]
GO
/****** Objekt:  View [dbo].[BewerberDaten]    Skriptdatum: 09/13/2011 14:17:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[BewerberDaten]
AS
SELECT     dbo.RA010.ID010 AS PersID, dbo.BEWERB013.EINGANG013 AS BewerberBewDatum, ISNULL(dbo.BEWERB013.RANG013, '') AS BewerberRang, 
                      ISNULL(CAST(dbo.BEWERB013.PUNKTE01013 AS Varchar(8)), '-') AS BewerberNoteStaatsEx, 
					  ISNULL(dbo.BEWERB013.PUNKTE03013, 0) AS BewerberPunkteStaatsexamen,  
						ISNULL(CAST(dbo.BEWERB013.PUNKTE02013 AS Varchar(8)), '-') AS BewerberNoteFachprüfung, 
					  ISNULL(dbo.BEWERB013.PUNKTE04013, 0) AS BewerberPunkteFachprüfung,  
                      ISNULL(dbo.BEWERB013.PUNKTESUM013, 0) AS BewerberPunkte,  
                      dbo.RA010.ID010 AS BewerberPersID, 
                      dbo.BEWERB013.FK012013 AS StellenID, 

FROM         dbo.RA010 INNER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013

