USE [NotareTest]
GO
/****** Objekt:  View [dbo].[MitbewerberZugesagtDaten]    Skriptdatum: 09/13/2011 13:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[MitbewerberZugesagtDaten]
AS
SELECT     TOP 100 PERCENT dbo.RA010.ID010 AS PersID, CASE WHEN ISNULL(dbo.RA010.TITEL010, '') = '' THEN ISNULL(dbo.RA010.NACHNAME010, '') 
                      + ', ' + ISNULL(dbo.RA010.VORNAME010, '') ELSE ISNULL(dbo.RA010.TITEL010, '') + ' ' + ISNULL(dbo.RA010.NACHNAME010, '') 
                      + ', ' + ISNULL(dbo.RA010.VORNAME010, '') END AS ZMitbewerberVoll, CASE WHEN ISNULL(dbo.RA010.TITEL010, '') 
                      = '' THEN dbo.RA010.NACHNAME010 ELSE ISNULL(dbo.RA010.TITEL010, '') + ' ' + dbo.RA010.NACHNAME010 END AS ZMitbewerberNachname, 
                      ISNULL(dbo.RA010.ANREDE010, '') AS ZMitbewerberAnrede, ISNULL(dbo.RA010.TITEL010, '') AS ZMitbewerberTitel, ISNULL(dbo.RA010.NAMEZUS010, 
                      '') AS ZMitbewerberNamenszusatz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geehrte Frau' ELSE 'Sehr geehrter Herr' END AS ZMitbewerberAnredeVoll, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin' ELSE 'Herrn Rechtsanwalt' END AS ZMitbewerberAnredeFormal, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geerhrte Frau ' ELSE 'Sehr geehrter Herr ' END + CASE WHEN ISNULL(dbo.RA010.TITEL010, '') 
                      = '' THEN dbo.RA010.NACHNAME010 ELSE ISNULL(dbo.RA010.TITEL010, '') + ' ' + dbo.RA010.NACHNAME010 END AS ZMitbewerberAnredeVollName, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin ' ELSE 'Herr Rechtsanwalt ' END + CASE WHEN ISNULL(dbo.RA010.TITEL010, '') 
                      = '' THEN ISNULL(dbo.RA010.VORNAME010, '') + ' ' + dbo.RA010.NACHNAME010 ELSE ISNULL(dbo.RA010.TITEL010, '') 
                      + ' ' + ISNULL(dbo.RA010.VORNAME010, '') + ' ' + dbo.RA010.NACHNAME010 END AS ZMitbewerberAnredeFormalName, 
                      ISNULL(dbo.RA010.AMTORT010, '-') AS ZMitbewerberAmtssitz, dbo.BEWERB013.EINGANG013 AS ZMitbewerberBewDatum, 
                      dbo.RA010.AZ010 AS ZMitbewerberAZVI, ISNULL(dbo.BEWERB013.RANG013, '') AS ZMitbewerberRang, 
                      dbo.RA010.AG010 AS ZMitbewerberAGzugelassen, dbo.RA010.LG010 AS ZMitbewerberLGZugelassen, ISNULL(dbo.RA010.VORNAME010, '') 
                      AS ZMitbewerberVorname, ISNULL(CAST(dbo.BEWERB013.PUNKTE01013 AS Varchar(8)), '-') AS ZMitbewerberNoteStaatsEx, 
						ISNULL(dbo.BEWERB013.PUNKTE03013, 0)  AS ZMitbewerberPunkteStaatsexamen, 
					 CAST(CONVERT(money, ISNULL(dbo.BEWERB013.PUNKTESUM013, 0)) AS varchar(30)) AS ZMitbewerberPunkte, 
                      dbo.RA010.ID010 AS ZMitbewerberPersID,  dbo.BEWERB013.FK012013 AS StellenID, 
                      ISNULL(CAST(dbo.BEWERB013.PUNKTE02013 AS Varchar(8)), '-') AS ZMitbewerberNoteFachprüfung, 
						ISNULL(dbo.BEWERB013.PUNKTE04013, 0)  AS ZMitbewerberPunkteFachprüfung,
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RechtsanwÃ¤ltin ' ELSE 'Rechtsanwalt ' END AS ZMitbewerberAmtsbez, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RA in ' ELSE 'RA ' END AS ZMitbewerberAmtsbezKurz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Notarin' ELSE 'Notar ' END AS ZMitbewerberKurz
FROM         dbo.RA010 INNER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013
ORDER BY ISNULL(dbo.BEWERB013.RANG013, '')
