if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AUSSCHREIBUNG020]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[AUSSCHREIBUNG020]
GO

CREATE TABLE [dbo].[AUSSCHREIBUNG020] (
	[ID020] [uniqueidentifier] NOT NULL ,
	[JAHR020] [int] NOT NULL ,
	[AZ020] [varchar] (50) COLLATE Latin1_General_CI_AS NOT NULL ,
	[WORKFLOW020] [varchar] (5) COLLATE Latin1_General_CI_AS NULL ,
	[CREATE020] [datetime] NOT NULL ,
	[MODIFY020] [datetime] NULL ,
	[CFROM020] [varchar] (255) COLLATE Latin1_General_CI_AS NULL ,
	[MFROM020] [varchar] (255) COLLATE Latin1_General_CI_AS NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[AUSSCHREIBUNG020] WITH NOCHECK ADD 
	CONSTRAINT [PK_AUSSCHREIBUNG020] PRIMARY KEY  CLUSTERED 
	(
		[ID020]
	) WITH  FILLFACTOR = 90  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[AUSSCHREIBUNG020] ADD 
	CONSTRAINT [DF_AUSSCHREIBUNG020_ID020] DEFAULT (newid()) FOR [ID020],
	CONSTRAINT [DF_AUSSCHREIBUNG020_WORKFLOW020] DEFAULT (0) FOR [WORKFLOW020],
	CONSTRAINT [DF_AUSSCHREIBUNG020_CREATE020] DEFAULT (getdate()) FOR [CREATE020],
	CONSTRAINT [DF_AUSSCHREIBUNG020_MODIFY020] DEFAULT (getdate()) FOR [MODIFY020]
GO

 CREATE  UNIQUE  INDEX [IX_AUSSCHREIBUNG020] ON [dbo].[AUSSCHREIBUNG020]([JAHR020]) ON [PRIMARY]
GO

