if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[BERECHNUNGEN016]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[BERECHNUNGEN016]
GO

CREATE TABLE [dbo].[BERECHNUNGEN016] (
	[ID016] [uniqueidentifier] NOT NULL ,
	[FAKTOR016] [float] NULL ,
	[VALUETYPE016] [varchar] (50) COLLATE Latin1_General_CI_AS NULL ,
	[ORDER016] [int] NULL ,
	[MAXWERT016] [int] NULL ,
	[CAPTION016] [varchar] (255) COLLATE Latin1_General_CI_AS NULL ,
	[CAPTIONSQL016] [varchar] (1000) COLLATE Latin1_General_CI_AS NULL ,
	[VALUESQL016] [varchar] (1000) COLLATE Latin1_General_CI_AS NULL ,
	[MAXVALUE016] [int] NULL ,
	[LOCKED016] [smallint] NOT NULL ,
	[SAVEFIELD016] [varchar] (255) COLLATE Latin1_General_CI_AS NULL ,
	[PUNKTESAVEFIELD016] [varchar] (255) COLLATE Latin1_General_CI_AS NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[BERECHNUNGEN016] WITH NOCHECK ADD 
	CONSTRAINT [PK_Berechnungen] PRIMARY KEY  CLUSTERED 
	(
		[ID016]
	) WITH  FILLFACTOR = 90  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[BERECHNUNGEN016] ADD 
	CONSTRAINT [DF_Berechnungen_ID016] DEFAULT (newid()) FOR [ID016],
	CONSTRAINT [DF_Berechnungen_FAKTOR016] DEFAULT (0.0) FOR [FAKTOR016],
	CONSTRAINT [DF_BERECHNUNGEN016_MAXWERT016] DEFAULT (0) FOR [MAXWERT016],
	CONSTRAINT [DF_BERECHNUNGEN016_MAXVALUE016] DEFAULT (0) FOR [MAXVALUE016],
	CONSTRAINT [DF_BERECHNUNGEN016_LOCKED016] DEFAULT (0) FOR [LOCKED016]
GO

