if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[StellenDaten]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[StellenDaten]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[HTFortbildungen3Jahre]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[HTFortbildungen3Jahre]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[HTSonstFortbildungen]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[HTSonstFortbildungen]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MitbewerberDaten]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[MitbewerberDaten]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AbsenderDaten]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[AbsenderDaten]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AnzahlBewerber]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[AnzahlBewerber]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AusschreibungsDaten]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[AusschreibungsDaten]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[BewerberDaten]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[BewerberDaten]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EmpfängerDaten]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[EmpfängerDaten]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MitbewerberAbgesagtDaten]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[MitbewerberAbgesagtDaten]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MitbewerberDaten_Alt]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[MitbewerberDaten_Alt]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MitbewerberZugesagtDaten]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[MitbewerberZugesagtDaten]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PunkteBewerber]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[PunkteBewerber]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Ausgeschriebene Stellen]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[Ausgeschriebene Stellen]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.[Ausgeschriebene Stellen]
AS
SELECT DISTINCT YEAR(FRIST012) AS Jahr, BEZIRK012 AS Bezirk, ANZ012 AS [Ausgeschriebene Stellen]
FROM         dbo.STELLEN012

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


CREATE VIEW dbo.AbsenderDaten
AS
SELECT     ISNULL(TEL001, '') AS AbsenderTel, ISNULL(FAX001, '') AS AbsenderFax, ISNULL(EMAIL001, '') AS AbsenderEmail, ID001, ISNULL(VORNAME001, '') 
                      + ', ' + ISNULL(NACHNAME001, '') AS Absender
FROM         dbo.USER001


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


CREATE VIEW dbo.AnzahlBewerber
AS
SELECT     dbo.RA010.ID010, COUNT(*) AS AnzBewerber
FROM         dbo.RA010 INNER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013 AND dbo.RA010.STATUS010 = 'Bewerber' LEFT OUTER JOIN
                      dbo.STELLEN012 ON dbo.STELLEN012.ID012 = dbo.BEWERB013.FK012013 LEFT OUTER JOIN
                      dbo.BEWERB013 Mitbewerber ON Mitbewerber.FK012013 = dbo.STELLEN012.ID012
GROUP BY dbo.RA010.ID010


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.AusschreibungsDaten
AS
SELECT     JAHR020 AS AusschreibungJahr, AZ020 AS AusschreibungAZ, ID020 AS AusschreibungID
FROM         dbo.AUSSCHREIBUNG020

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.BewerberDaten
AS
SELECT     dbo.RA010.ID010 AS PersID, dbo.BEWERB013.EINGANG013 AS BewerberBewDatum, ISNULL(dbo.BEWERB013.RANG013, '') AS BewerberRang, 
                      ISNULL(CAST(dbo.RA010.EXANOTE010 AS Varchar(8)), '-') AS BewerberNoteStaatsEx, ISNULL(dbo.RA010.EXANOTE010, 0) 
                      * 5 AS BewerberPunkteStaatsexamen, ISNULL(dbo.BEWERB013.PUNKTE05013, 0) AS BewerberPunkteAnwalttätigkeit, 
                      ISNULL(dbo.BEWERB013.PUNKTE06013, 0) AS BewerberPunkteFortbildungen3Jahre, ISNULL(dbo.BEWERB013.PUNKTE07013, 0) 
                      AS BewerberPunkteSonstigeFortbildungen, ISNULL(dbo.BEWERB013.PUNKTE06013, 0) + ISNULL(dbo.BEWERB013.PUNKTE07013, 0) 
                      AS BewerberPunkteFortbildungenGesamt, ISNULL(dbo.BEWERB013.PUNKTE08013, 0) AS BewerberPunkteNS3Jahren, 
                      ISNULL(dbo.BEWERB013.PUNKTE09013, 0) AS BewerberPunkteNS200, ISNULL(dbo.BEWERB013.PUNKTE10013, 0) AS BewerberPunkteNS500, 
                      ISNULL(dbo.BEWERB013.PUNKTE11013, 0) AS BewerberPunkteNS1000, ISNULL(dbo.BEWERB013.PUNKTE12013, 0) AS BewerberPunkteNSab1000, 
                      ISNULL(dbo.BEWERB013.PUNKTE03013, 0) AS BewerberPunkte, ISNULL(dbo.BEWERB013.PUNKTE02013, 0) AS BewerberNSin3Jahren, 
                      ISNULL(dbo.BEWERB013.PUNKTE18013, 0) AS BewerberSonstNS200, ISNULL(dbo.BEWERB013.PUNKTE19013, 0) AS BewerberSonstNS500, 
                      ISNULL(dbo.BEWERB013.PUNKTE20013, 0) AS BewerberSonstNS1000, CASE WHEN (ISNULL(PUNKTE01013, 0) - ISNULL(PUNKTE02013, 0) 
                      - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) < 0 THEN 0 ELSE (ISNULL(PUNKTE01013, 0) - ISNULL(PUNKTE02013, 0) 
                      - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) END AS BewerberSonstNSab1000, 
                      dbo.RA010.ID010 AS BewerberPersID, ISNULL(dbo.BEWERB013.PUNKTE08013, 0) + ISNULL(dbo.BEWERB013.PUNKTE09013, 0) 
                      + ISNULL(dbo.BEWERB013.PUNKTE10013, 0) + ISNULL(dbo.BEWERB013.PUNKTE11013, 0) + ISNULL(dbo.BEWERB013.PUNKTE12013, 0) 
                      AS BewerberPunkteNSGesamt, ISNULL(dbo.BEWERB013.PUNKTE16013, 0) AS BewerberSonderpunkte, ISNULL(dbo.BEWERB013.PUNKTE13013, 0) 
                      AS BewerberHTFortbildungen3Jahre, ISNULL(dbo.BEWERB013.PUNKTE14013, 0) AS BewerberHTSonstFortbildungen, 
                      dbo.BEWERB013.FK012013 AS StellenID, ISNULL(dbo.BEWERB013.PUNKTE21013, '') AS BewerberMonateAnwalt
FROM         dbo.RA010 INNER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.EmpfängerDaten
AS
SELECT     ID010 AS PersID, NACHNAME010 AS RANachname, ISNULL(VORNAME010, '') AS RAVorname, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geehrte Frau' ELSE 'Sehr geehrter Herr' END AS RAAnredeVoll, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin' ELSE 'Herrn Rechtsanwalt' END AS RAAnredeFormal, 
                      KSTR010 + ' ' + KPLZ010 + ' ' + KORT010 AS RAAnschriftKanzlei, ISNULL(KSTR010, '') AS RAStrKanzlei, KPLZ010 + ' ' + KORT010 AS RAPLZOrtKanzlei, 
                      ISNULL(AZ010, '-') AS RAAZVI, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geerhrte Frau ' ELSE 'Sehr geehrter Herr ' END + NACHNAME010 AS RAAnredeVollName, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin ' ELSE 'Herr Rechtsanwalt ' END + VORNAME010 + ' ' + NACHNAME010 AS RAAnredeFormalName,
                       ISNULL(VORNAME010, '') + ' ' + NACHNAME010 AS RAVornameNachname, NACHNAME010 + ', ' + ISNULL(VORNAME010, '') AS RANachnameVorname, 
                      CASE WHEN RA010.ANREDE010 = 'Fau' THEN 'Frau' ELSE 'Herr' END AS RAAnrede, GEB010 AS RAGebDat, ISNULL(AMTORT010, '-') AS RAAmtssitz, 
                      ANWALTSEIT010 AS RAAnwaltSeit, AG010 AS RAAGzugelassen, LG010 AS RALGZugelassen, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Rechtsanwältin ' ELSE 'Rechtsanwalt ' END AS RAAmtsbez, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RA in ' ELSE 'RA ' END AS RAAmtsbezKurz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Notarin' ELSE 'Notar ' END AS RANotar, ISNULL(CAST(EXANOTE010 AS Varchar(8)), '-') 
                      AS RANoteStaatsexamen, ISNULL(EXANOTE010, 0) * 5 AS RAPunkteStaasexamen
FROM         dbo.RA010

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.MitbewerberAbgesagtDaten
AS
SELECT     TOP 100 PERCENT dbo.RA010.ID010 AS PersID, ISNULL(dbo.RA010.NACHNAME010, '') + ', ' + ISNULL(dbo.RA010.VORNAME010, '') 
                      AS AMitbewerberVoll, dbo.RA010.NACHNAME010 AS AMitbewerberNachname, ISNULL(dbo.RA010.ANREDE010, '') AS AMitbewerberAnrede, 
                      ISNULL(dbo.RA010.TITEL010, '') AS AMitbewerberTitel, ISNULL(dbo.RA010.NAMEZUS010, '') AS AMitbewerberNamenszusatz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geehrte Frau' ELSE 'Sehr geehrter Herr' END AS AMitbewerberAnredeVoll, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin' ELSE 'Herrn Rechtsanwalt' END AS AMitbewerberAnredeFormal, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geerhrte Frau ' ELSE 'Sehr geehrter Herr ' END + dbo.RA010.NACHNAME010 AS AMitbewerberAnredeVollName,
                       CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin ' ELSE 'Herr Rechtsanwalt ' END + dbo.RA010.VORNAME010 + ' ' + dbo.RA010.NACHNAME010
                       AS AMitbewerberAnredeFormalName, ISNULL(dbo.RA010.AMTORT010, '-') AS AMitbewerberAmtssitz, 
                      dbo.BEWERB013.EINGANG013 AS AMitbewerberBewDatum, dbo.RA010.AZ010 AS AMitbewerberAZVI, ISNULL(dbo.BEWERB013.RANG013, '') 
                      AS AMitbewerberRang, dbo.RA010.AG010 AS AMitbewerberAGzugelassen, dbo.RA010.LG010 AS AMitbewerberLGZugelassen, 
                      ISNULL(dbo.RA010.VORNAME010, '') AS AMitbewerberVorname, ISNULL(CAST(dbo.RA010.EXANOTE010 AS Varchar(8)), '-') 
                      AS AMitbewerberNoteStaatsEx, ISNULL(dbo.RA010.EXANOTE010, 0) * 5 AS AMitbewerberPunkteStaatsexamen, 
                      ISNULL(dbo.BEWERB013.PUNKTE05013, 0) AS AMitbewerberPunkteAnwalttätigkeit, ISNULL(dbo.BEWERB013.PUNKTE06013, 0) 
                      AS AMitbewerberPunkteFortbildungen3Jahre, ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS AMitbewerberPunkteSonstigeFortbildungen, 
                      ISNULL(dbo.BEWERB013.PUNKTE06013, 0) + ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS AMitbewerberPunkteFortbildungenGesamt, 
                      ISNULL(dbo.BEWERB013.PUNKTE08013, 0) AS AMitbewerberPunkteNS3Jahren, ISNULL(dbo.BEWERB013.PUNKTE09013, 0) 
                      AS AMitbewerberPunkteNS200, ISNULL(dbo.BEWERB013.PUNKTE10013, 0) AS AMitbewerberPunkteNS500, ISNULL(dbo.BEWERB013.PUNKTE11013, 
                      0) AS AMitbewerberPunkteNS1000, ISNULL(dbo.BEWERB013.PUNKTE12013, 0) AS AMitbewerberPunkteNSab1000, 
                      ISNULL(dbo.BEWERB013.PUNKTE03013, 0) AS AMitbewerberPunkte, ISNULL(dbo.BEWERB013.PUNKTE02013, 0) AS AMitbewerberNSin3Jahren, 
                      ISNULL(dbo.BEWERB013.PUNKTE18013, 0) AS AMitbewerberSonstNS200, ISNULL(dbo.BEWERB013.PUNKTE19013, 0) AS AMitbewerberSonstNS500, 
                      ISNULL(dbo.BEWERB013.PUNKTE20013, 0) AS AMitbewerberSonstNS1000, CASE WHEN (ISNULL(PUNKTE01013, 0) - ISNULL(PUNKTE02013, 0) 
                      - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) < 0 THEN 0 ELSE (ISNULL(PUNKTE01013, 0) - ISNULL(PUNKTE02013, 0) 
                      - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) END AS AMitbewerberSonstNSab1000, 
                      dbo.RA010.ID010 AS AMitbewerberPersID, ISNULL(dbo.BEWERB013.PUNKTE08013, 0) + ISNULL(dbo.BEWERB013.PUNKTE09013, 0) 
                      + ISNULL(dbo.BEWERB013.PUNKTE10013, 0) + ISNULL(dbo.BEWERB013.PUNKTE11013, 0) + ISNULL(dbo.BEWERB013.PUNKTE12013, 0) 
                      AS AMitbewerberPunkteNSGesamt, ISNULL(dbo.BEWERB013.PUNKTE16013, 0) AS AMitbewerberSonderpunkte, 
                      ISNULL(dbo.BEWERB013.PUNKTE13013, 0) AS AMitbewerberHTFortbildungen3Jahre, ISNULL(dbo.BEWERB013.PUNKTE14013, 0) 
                      AS AMitbewerberHTSonstFortbildungen, dbo.BEWERB013.FK012013 AS StellenID, ISNULL(dbo.BEWERB013.PUNKTE21013, 0) 
                      AS AMitbewerberMonateAnwalt, CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Rechtsanwältin ' ELSE 'Rechtsanwalt ' END AS AMitbewerberAmtsbez, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RA in ' ELSE 'RA ' END AS AMitbewerberAmtsbezKurz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Notarin' ELSE 'Notar ' END AS AMitbewerberNotar
FROM         dbo.RA010 INNER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.MitbewerberDaten
AS
SELECT     TOP 100 PERCENT dbo.RA010.ID010 AS PersID, dbo.BEWERB013.ID013, ISNULL(dbo.RA010.NACHNAME010, '') 
                      + ', ' + ISNULL(dbo.RA010.VORNAME010, '') AS MitbewerberVoll, dbo.RA010.NACHNAME010 AS MitbewerberNachname, 
                      ISNULL(dbo.RA010.ANREDE010, '') AS MitbewerberAnrede, ISNULL(dbo.RA010.TITEL010, '') AS MitbewerberTitel, ISNULL(dbo.RA010.NAMEZUS010, '') 
                      AS MitbewerberNamenszusatz, dbo.RA010.GESCHL010, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geehrte Frau' ELSE 'Sehr geehrter Herr' END AS MitbewerberAnredeVoll, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin' ELSE 'Herrn Rechtsanwalt' END AS MitbewerberAnredeFormal, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geerhrte Frau ' ELSE 'Sehr geehrter Herr ' END + dbo.RA010.NACHNAME010 AS MitbewerberAnredeVollName,
                       CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin ' ELSE 'Herr Rechtsanwalt ' END + dbo.RA010.VORNAME010 + ' ' + dbo.RA010.NACHNAME010
                       AS MitbewerberAnredeFormalName, ISNULL(dbo.RA010.AMTORT010, '-') AS MitbewerberAmtssitz, 
                      dbo.BEWERB013.EINGANG013 AS MitbewerberBewDatum, dbo.RA010.AZ010 AS MitbewerberAZVI, ISNULL(dbo.BEWERB013.RANG013, '') 
                      AS MitbewerberRang, dbo.RA010.AG010 AS MitbewerberAGzugelassen, dbo.RA010.LG010 AS MitbewerberLGZugelassen, 
                      ISNULL(dbo.RA010.VORNAME010, '') AS MitbewerberVorname, ISNULL(CAST(dbo.RA010.EXANOTE010 AS Varchar(8)), '-') AS MitbewerberNoteStaatsEx, 
                      ISNULL(dbo.RA010.EXANOTE010, 0) * 5 AS MitbewerberPunkteStaatsexamen, ISNULL(dbo.BEWERB013.PUNKTE05013, 0) 
                      AS MitbewerberPunkteAnwalttätigkeit, ISNULL(dbo.BEWERB013.PUNKTE06013, 0) AS MitbewerberPunkteFortbildungen3Jahre, 
                      ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS MitbewerberPunkteSonstigeFortbildungen, ISNULL(dbo.BEWERB013.PUNKTE06013, 0) 
                      + ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS MitbewerberPunkteFortbildungenGesamt, ISNULL(dbo.BEWERB013.PUNKTE08013, 0) 
                      AS MitbewerberPunkteNS3Jahren, ISNULL(dbo.BEWERB013.PUNKTE09013, 0) AS MitbewerberPunkteNS200, ISNULL(dbo.BEWERB013.PUNKTE10013, 
                      0) AS MitbewerberPunkteNS500, ISNULL(dbo.BEWERB013.PUNKTE11013, 0) AS MitbewerberPunkteNS1000, ISNULL(dbo.BEWERB013.PUNKTE12013, 
                      0) AS MitbewerberPunkteNSab1000, ISNULL(dbo.BEWERB013.PUNKTE03013, 0) AS MitbewerberPunkte, ISNULL(dbo.BEWERB013.PUNKTE02013, 0) 
                      AS MitbewerberNSin3Jahren, ISNULL(dbo.BEWERB013.PUNKTE18013, 0) AS MitbewerberSonstNS200, ISNULL(dbo.BEWERB013.PUNKTE19013, 0) 
                      AS MitbewerberSonstNS500, ISNULL(dbo.BEWERB013.PUNKTE20013, 0) AS MitbewerberSonstNS1000, CASE WHEN (ISNULL(PUNKTE01013, 0) 
                      - ISNULL(PUNKTE02013, 0) - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) < 0 THEN 0 ELSE (ISNULL(PUNKTE01013, 0) 
                      - ISNULL(PUNKTE02013, 0) - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) END AS MitbewerberSonstNSab1000, 
                      dbo.RA010.ID010 AS MitbewerberPersID, ISNULL(dbo.BEWERB013.PUNKTE08013, 0) + ISNULL(dbo.BEWERB013.PUNKTE09013, 0) 
                      + ISNULL(dbo.BEWERB013.PUNKTE10013, 0) + ISNULL(dbo.BEWERB013.PUNKTE11013, 0) + ISNULL(dbo.BEWERB013.PUNKTE12013, 0) 
                      AS MitbewerberPunkteNSGesamt, ISNULL(dbo.BEWERB013.PUNKTE16013, 0) AS MitbewerberSonderpunkte, ISNULL(dbo.BEWERB013.PUNKTE13013, 
                      0) AS MitbewerberHTFortbildungen3Jahre, ISNULL(dbo.BEWERB013.PUNKTE14013, 0) AS MitbewerberHTSonstFortbildungen, 
                      dbo.BEWERB013.FK012013 AS StellenID, ISNULL(dbo.BEWERB013.PUNKTE21013, '') AS MitbewerberMonateAnwalt, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Rechtsanwältin ' ELSE 'Rechtsanwalt ' END AS MitbewerberAmtsbez, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RA in ' ELSE 'RA ' END AS MitbewerberAmtsbezKurz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Notarin' ELSE 'Notar ' END AS MitbewerberNotar
FROM         dbo.RA010 INNER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013
ORDER BY dbo.BEWERB013.RANG013

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.MitbewerberZugesagtDaten
AS
SELECT     TOP 100 PERCENT dbo.RA010.ID010 AS PersID, ISNULL(dbo.RA010.NACHNAME010, '') + ', ' + ISNULL(dbo.RA010.VORNAME010, '') 
                      AS ZMitbewerberVoll, dbo.RA010.NACHNAME010 AS ZMitbewerberNachname, ISNULL(dbo.RA010.ANREDE010, '') AS ZMitbewerberAnrede, 
                      ISNULL(dbo.RA010.TITEL010, '') AS ZMitbewerberTitel, ISNULL(dbo.RA010.NAMEZUS010, '') AS ZMitbewerberNamenszusatz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geehrte Frau' ELSE 'Sehr geehrter Herr' END AS ZMitbewerberAnredeVoll, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin' ELSE 'Herrn Rechtsanwalt' END AS ZMitbewerberAnredeFormal, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geerhrte Frau ' ELSE 'Sehr geehrter Herr ' END + dbo.RA010.NACHNAME010 AS ZMitbewerberAnredeVollName,
                       CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin ' ELSE 'Herr Rechtsanwalt ' END + dbo.RA010.VORNAME010 + ' ' + dbo.RA010.NACHNAME010
                       AS ZMitbewerberAnredeFormalName, ISNULL(dbo.RA010.AMTORT010, '-') AS ZMitbewerberAmtssitz, 
                      dbo.BEWERB013.EINGANG013 AS ZMitbewerberBewDatum, dbo.RA010.AZ010 AS ZMitbewerberAZVI, ISNULL(dbo.BEWERB013.RANG013, '') 
                      AS ZMitbewerberRang, dbo.RA010.AG010 AS ZMitbewerberAGzugelassen, dbo.RA010.LG010 AS ZMitbewerberLGZugelassen, 
                      ISNULL(dbo.RA010.VORNAME010, '') AS ZMitbewerberVorname, ISNULL(CAST(dbo.RA010.EXANOTE010 AS Varchar(8)), '-') 
                      AS ZMitbewerberNoteStaatsEx, ISNULL(dbo.RA010.EXANOTE010, 0) * 5 AS ZMitbewerberPunkteStaatsexamen, 
                      ISNULL(dbo.BEWERB013.PUNKTE05013, 0) AS ZMitbewerberPunkteAnwalttätigkeit, ISNULL(dbo.BEWERB013.PUNKTE06013, 0) 
                      AS ZMitbewerberPunkteFortbildungen3Jahre, ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS ZMitbewerberPunkteSonstigeFortbildungen, 
                      ISNULL(dbo.BEWERB013.PUNKTE06013, 0) + ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS ZMitbewerberPunkteFortbildungenGesamt, 
                      ISNULL(dbo.BEWERB013.PUNKTE08013, 0) AS ZMitbewerberPunkteNS3Jahren, ISNULL(dbo.BEWERB013.PUNKTE09013, 0) 
                      AS ZMitbewerberPunkteNS200, ISNULL(dbo.BEWERB013.PUNKTE10013, 0) AS ZMitbewerberPunkteNS500, ISNULL(dbo.BEWERB013.PUNKTE11013, 
                      0) AS ZMitbewerberPunkteNS1000, ISNULL(dbo.BEWERB013.PUNKTE12013, 0) AS ZMitbewerberPunkteNSab1000, 
                      ISNULL(dbo.BEWERB013.PUNKTE03013, 0) AS ZMitbewerberPunkte, ISNULL(dbo.BEWERB013.PUNKTE02013, 0) AS ZMitbewerberNSin3Jahren, 
                      ISNULL(dbo.BEWERB013.PUNKTE18013, 0) AS ZMitbewerberSonstNS200, ISNULL(dbo.BEWERB013.PUNKTE19013, 0) AS ZMitbewerberSonstNS500, 
                      ISNULL(dbo.BEWERB013.PUNKTE20013, 0) AS ZMitbewerberSonstNS1000, CASE WHEN (ISNULL(PUNKTE01013, 0) - ISNULL(PUNKTE02013, 0) 
                      - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) < 0 THEN 0 ELSE (ISNULL(PUNKTE01013, 0) - ISNULL(PUNKTE02013, 0) 
                      - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) END AS ZMitbewerberSonstNSab1000, 
                      dbo.RA010.ID010 AS ZMitbewerberPersID, ISNULL(dbo.BEWERB013.PUNKTE08013, 0) + ISNULL(dbo.BEWERB013.PUNKTE09013, 0) 
                      + ISNULL(dbo.BEWERB013.PUNKTE10013, 0) + ISNULL(dbo.BEWERB013.PUNKTE11013, 0) + ISNULL(dbo.BEWERB013.PUNKTE12013, 0) 
                      AS ZMitbewerberPunkteNSGesamt, ISNULL(dbo.BEWERB013.PUNKTE16013, 0) AS ZMitbewerberSonderpunkte, 
                      ISNULL(dbo.BEWERB013.PUNKTE13013, 0) AS ZMitbewerberHTFortbildungen3Jahre, ISNULL(dbo.BEWERB013.PUNKTE14013, 0) 
                      AS ZMitbewerberHTSonstFortbildungen, dbo.BEWERB013.FK012013 AS StellenID, ISNULL(dbo.BEWERB013.PUNKTE21013, 0) 
                      AS ZMitbewerberMonateAnwalt, CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Rechtsanwältin ' ELSE 'Rechtsanwalt ' END AS ZMitbewerberAmtsbez, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RA in ' ELSE 'RA ' END AS ZMitbewerberAmtsbezKurz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Notarin' ELSE 'Notar ' END AS ZMitbewerberKurz
FROM         dbo.RA010 INNER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


CREATE VIEW dbo.PunkteBewerber
AS
SELECT     ISNULL(CAST(dbo.RA010.EXANOTE010 AS Varchar(8)), '-') AS NoteStaatsEx, ISNULL(dbo.RA010.EXANOTE010, 0) * 5 AS PunkteStaatsexamen, 
                      ISNULL(dbo.BEWERB013.PUNKTE05013, 0) AS PunkteAnwalttätigkeit, ISNULL(dbo.BEWERB013.PUNKTE06013, 0) AS PunkteFortbildungen3Jahre, 
                      ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS PunkteSonstigeFortbildungen, ISNULL(dbo.BEWERB013.PUNKTE06013, 0) 
                      + ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS PunkteFortbildungenGesamt, ISNULL(dbo.BEWERB013.PUNKTE08013, 0) AS PunkteNS3Jahren, 
                      ISNULL(dbo.BEWERB013.PUNKTE09013, 0) AS PunkteNS200, ISNULL(dbo.BEWERB013.PUNKTE10013, 0) AS PunkteNS500, 
                      ISNULL(dbo.BEWERB013.PUNKTE11013, 0) AS PunkteNS1000, ISNULL(dbo.BEWERB013.PUNKTE12013, 0) AS PunkteNSab1000, 
                      ISNULL(dbo.BEWERB013.PUNKTE03013, 0) AS Punkte, dbo.STELLEN012.FRIST012 AS Bewebungsfrist, ISNULL(dbo.BEWERB013.PUNKTE02013, 0) 
                      AS NSin3Jahren, ISNULL(DATEDIFF([month], dbo.RA010.ANWALTSEIT010, dbo.STELLEN012.FRIST012), 0) AS MonateAnwalt, 
                      ISNULL(dbo.BEWERB013.PUNKTE18013, 0) AS SonstNS200, ISNULL(dbo.BEWERB013.PUNKTE19013, 0) AS SonstNS500, 
                      ISNULL(dbo.BEWERB013.PUNKTE20013, 0) AS SonstNS1000, CASE WHEN (ISNULL(PUNKTE01013, 0) - ISNULL(PUNKTE02013, 0) 
                      - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) < 0 THEN 0 ELSE (ISNULL(PUNKTE01013, 0) - ISNULL(PUNKTE02013, 0) 
                      - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) END AS SonstNSab1000, dbo.RA010.ID010 AS PersID, 
                      ISNULL(dbo.BEWERB013.PUNKTE08013, 0) + ISNULL(dbo.BEWERB013.PUNKTE09013, 0) + ISNULL(dbo.BEWERB013.PUNKTE10013, 0) 
                      + ISNULL(dbo.BEWERB013.PUNKTE11013, 0) + ISNULL(dbo.BEWERB013.PUNKTE12013, 0) AS PunkteNSGesamt, 
                      ISNULL(dbo.BEWERB013.PUNKTE16013, 0) AS Sonderpunkte, ISNULL(dbo.BEWERB013.PUNKTE13013, 0) AS HTFortbildungen3Jahre, 
                      ISNULL(dbo.BEWERB013.PUNKTE14013, 0) AS HTSonstFortbildungen
FROM         dbo.RA010 LEFT OUTER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013 LEFT OUTER JOIN
                      dbo.STELLEN012 ON dbo.STELLEN012.ID012 = dbo.BEWERB013.FK012013


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


CREATE VIEW dbo.HTFortbildungen3Jahre
AS
SELECT     ISNULL(SUM(dbo.FORT011.ANZHT011), 0) AS HTFortbildungen3Jahre, dbo.RA010.ID010
FROM         dbo.RA010 LEFT OUTER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013 LEFT OUTER JOIN
                      dbo.AFORT014 ON dbo.RA010.ID010 = dbo.AFORT014.FK010014 LEFT OUTER JOIN
                      dbo.FORT011 ON dbo.FORT011.ID011 = dbo.AFORT014.FK011014 LEFT OUTER JOIN
                      dbo.STELLEN012 ON dbo.STELLEN012.ID012 = dbo.BEWERB013.FK012013 AND dbo.FORT011.DATUM011 >= DATEADD([Year], - 3, 
                      dbo.STELLEN012.FRIST012)
GROUP BY dbo.RA010.ID010


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


CREATE VIEW dbo.HTSonstFortbildungen
AS
SELECT     ISNULL(SUM(dbo.FORT011.ANZHT011), 0) AS HTSonstFortbildungen, dbo.RA010.ID010
FROM         dbo.RA010 LEFT OUTER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013 LEFT OUTER JOIN
                      dbo.STELLEN012 ON dbo.STELLEN012.ID012 = dbo.BEWERB013.FK012013 LEFT OUTER JOIN
                      dbo.AFORT014 ON dbo.RA010.ID010 = dbo.AFORT014.FK011014 LEFT OUTER JOIN
                      dbo.FORT011 ON dbo.FORT011.ID011 = dbo.AFORT014.FK011014 AND dbo.FORT011.DATUM011 < DATEADD([Year], - 3, dbo.STELLEN012.FRIST012)
GROUP BY dbo.RA010.ID010


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.MitbewerberDaten
AS
SELECT     TOP 100 PERCENT dbo.EmpfängerDaten.PersID, dbo.EmpfängerDaten.PersID AS MitbewerberPersID, dbo.BEWERB013.ID013, 
                      dbo.EmpfängerDaten.RAVornameNachname AS MitbewerberVoll, dbo.EmpfängerDaten.RANachname AS MitbewerberNachname, 
                      dbo.EmpfängerDaten.RAVorname AS MitbewerberVorname, dbo.EmpfängerDaten.RAAnrede AS MitbewerberAnrede, 
                      dbo.EmpfängerDaten.RAAnredeVoll AS MitbewerberAnredeVoll, dbo.EmpfängerDaten.RAAnredeFormal AS MitbewerberAnredeFormal, 
                      dbo.EmpfängerDaten.RAAnredeVollName AS MitbewerberAnredeVollName, 
                      dbo.EmpfängerDaten.RAAnredeFormalName AS MitbewerberAnredeFormalName, dbo.EmpfängerDaten.RAAmtssitz AS MitbewerberAmtssitz, 
                      dbo.BEWERB013.EINGANG013 AS MitbewerberBewDatum, dbo.EmpfängerDaten.RAAZVI AS MitbewerberAZVI, ISNULL(dbo.BEWERB013.RANG013, '') 
                      AS MitbewerberRang, dbo.EmpfängerDaten.RAAGzugelassen AS MitbewerberAGzugelassen, 
                      dbo.EmpfängerDaten.RALGZugelassen AS MitbewerberLGZugelassen, ISNULL(dbo.BEWERB013.PUNKTE05013, 0) 
                      AS MitbewerberPunkteAnwalttätigkeit, ISNULL(dbo.BEWERB013.PUNKTE06013, 0) AS MitbewerberPunkteFortbildungen3Jahre, 
                      ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS MitbewerberPunkteSonstigeFortbildungen, ISNULL(dbo.BEWERB013.PUNKTE06013, 0) 
                      + ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS MitbewerberPunkteFortbildungenGesamt, ISNULL(dbo.BEWERB013.PUNKTE08013, 0) 
                      AS MitbewerberPunkteNS3Jahren, ISNULL(dbo.BEWERB013.PUNKTE09013, 0) AS MitbewerberPunkteNS200, ISNULL(dbo.BEWERB013.PUNKTE10013, 
                      0) AS MitbewerberPunkteNS500, ISNULL(dbo.BEWERB013.PUNKTE11013, 0) AS MitbewerberPunkteNS1000, ISNULL(dbo.BEWERB013.PUNKTE12013, 
                      0) AS MitbewerberPunkteNSab1000, ISNULL(dbo.BEWERB013.PUNKTE03013, 0) AS MitbewerberPunkte, ISNULL(dbo.BEWERB013.PUNKTE02013, 0) 
                      AS MitbewerberNSin3Jahren, ISNULL(dbo.BEWERB013.PUNKTE18013, 0) AS MitbewerberSonstNS200, ISNULL(dbo.BEWERB013.PUNKTE19013, 0) 
                      AS MitbewerberSonstNS500, ISNULL(dbo.BEWERB013.PUNKTE20013, 0) AS MitbewerberSonstNS1000, CASE WHEN (ISNULL(PUNKTE01013, 0) 
                      - ISNULL(PUNKTE02013, 0) - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) < 0 THEN 0 ELSE (ISNULL(PUNKTE01013, 0) 
                      - ISNULL(PUNKTE02013, 0) - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) END AS MitbewerberSonstNSab1000, 
                      ISNULL(dbo.BEWERB013.PUNKTE08013, 0) + ISNULL(dbo.BEWERB013.PUNKTE09013, 0) + ISNULL(dbo.BEWERB013.PUNKTE10013, 0) 
                      + ISNULL(dbo.BEWERB013.PUNKTE11013, 0) + ISNULL(dbo.BEWERB013.PUNKTE12013, 0) AS MitbewerberPunkteNSGesamt, 
                      ISNULL(dbo.BEWERB013.PUNKTE16013, 0) AS MitbewerberSonderpunkte, ISNULL(dbo.BEWERB013.PUNKTE13013, 0) 
                      AS MitbewerberHTFortbildungen3Jahre, ISNULL(dbo.BEWERB013.PUNKTE14013, 0) AS MitbewerberHTSonstFortbildungen, 
                      dbo.BEWERB013.FK012013 AS StellenID, ISNULL(dbo.BEWERB013.PUNKTE21013, '') AS MitbewerberMonateAnwalt, 
                      dbo.EmpfängerDaten.RAAmtsbez AS MitbewerberAmtsbez, dbo.EmpfängerDaten.RAAmtsbezKurz AS MitbewerberAmtsbezKurz, 
                      dbo.EmpfängerDaten.RANotar AS MitbewerberNotar, dbo.EmpfängerDaten.RANoteStaatsexamen AS MitbewerberNoteStaatsexamen, 
                      dbo.EmpfängerDaten.RAPunkteStaasexamen AS MitbewerberPunkteStaatsexamen
FROM         dbo.BEWERB013 RIGHT OUTER JOIN
                      dbo.EmpfängerDaten ON dbo.BEWERB013.FK010013 = dbo.EmpfängerDaten.PersID
ORDER BY ISNULL(dbo.BEWERB013.RANG013, '')

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.StellenDaten
AS
SELECT     dbo.STELLEN012.ID012 AS StellenID, dbo.STELLEN012.FRIST012 AS StellenBewebungsfrist, dbo.STELLEN012.BEZIRK012 AS StellenAGBezirk, 
                      dbo.LG003.LGNAME003 AS StellenLGBezirk, ISNULL(dbo.LG003.LGPLZ003, '') + ' ' + ISNULL(dbo.LG003.LGORT003, '') AS StellenLGPLZOrt, 
                      dbo.STELLEN012.ANZ012 AS StellenAnzStellen, COUNT('dbo.BEWERB013.*') AS StellenAnzBewerber, ISNULL(dbo.LG003.LGSTR003, '') 
                      AS StellenLGStrasse, dbo.STELLEN012.FK020012, dbo.AUSSCHREIBUNG020.AZ020 AS StellenAZ, 
                      dbo.AUSSCHREIBUNG020.JAHR020 AS StellenBewFristJahr
FROM         dbo.AUSSCHREIBUNG020 INNER JOIN
                      dbo.STELLEN012 ON dbo.AUSSCHREIBUNG020.ID020 = dbo.STELLEN012.FK020012 LEFT OUTER JOIN
                      dbo.BEWERB013 ON dbo.STELLEN012.ID012 = dbo.BEWERB013.FK012013 LEFT OUTER JOIN
                      dbo.LG003 RIGHT OUTER JOIN
                      dbo.AG004 ON dbo.LG003.ID003 = dbo.AG004.FK003004 ON dbo.STELLEN012.BEZIRK012 = dbo.AG004.AGNAME004
GROUP BY dbo.STELLEN012.ID012, dbo.STELLEN012.FRIST012, dbo.STELLEN012.BEZIRK012, dbo.LG003.LGNAME003, ISNULL(dbo.LG003.LGPLZ003, '') 
                      + ' ' + ISNULL(dbo.LG003.LGORT003, ''), dbo.STELLEN012.ANZ012, ISNULL(dbo.LG003.LGSTR003, ''), dbo.STELLEN012.FK020012, 
                      dbo.AUSSCHREIBUNG020.AZ020, dbo.AUSSCHREIBUNG020.JAHR020

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

