if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[NOTARE_DeleteBewerberInfos]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[NOTARE_DeleteBewerberInfos]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[NOTARE_ListeAusgeschriebeneStellen]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[NOTARE_ListeAusgeschriebeneStellen]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[NOTARE_ListeBewerber]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[NOTARE_ListeBewerber]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[NOTARE_ListeBewerberAbgelehnt]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[NOTARE_ListeBewerberAbgelehnt]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[NOTARE_ListeBewerberZugesagt]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[NOTARE_ListeBewerberZugesagt]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[NOTARE_Punkteauflistung]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[NOTARE_Punkteauflistung]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE NOTARE_DeleteBewerberInfos  AS

-- Note Staatsexamen löschen
UPDATE RA010 SET RA010.EXANOTE010 = Null WHERE STATUS010 ='Notar' 
OR STATUS010 = 'ausgeschieden' OR STATUS010 ='a. D.'

-- Bewerbungsdatensätze löschen
DELETE BEWERB013
FROM BEWERB013 INNER JOIN RA010 ON BEWERB013.FK010013 = RA010.ID010
WHERE (RA010.STATUS010 ='Notar' 
OR RA010.STATUS010 = 'ausgeschieden' OR RA010.STATUS010 ='a. D.')
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE NOTARE_ListeAusgeschriebeneStellen @ID020 varchar(50) AS

DECLARE @Bezirk varchar(255)							-- Bezirk der Ausgeschriebenen Stelle(n)
DECLARE @Anz varchar(10)							-- Anzahl der zu besetzenden Stellen
DECLARE @FormatString varchar(4000)                				-- Aktuell zusammengesetzter String
DECLARE @ResultString varchar(4000)						-- Gesamter Ergebnis String
DECLARE @Counter Varchar(3)							-- Zähler
DECLARE @StrOffset int 							-- Zeichen Offset zwischen Bezirk und Anz Stellen
DECLARE @Buffer Varchar(15)

SET @ResultString =''
SET @Counter ='1'
SET @Buffer = '               '

DECLARE Stellen_cursor CURSOR FOR
SELECT AGName004, SUM(ANZ012) 
FROM AG004 Left JOIN (STELLEN012 
	INNER JOIN AUSSCHREIBUNG020 ON ID020 = FK020012 
	) ON AGName004 = Bezirk012
WHERE ID020  = @ID020
GROUP BY AGName004
ORDER BY AGName004

OPEN Stellen_cursor								-- Cursor öffnen
FETCH NEXT FROM Stellen_cursor						-- 1. DS
INTO @Bezirk, @Anz
	
WHILE @@FETCH_STATUS = 0						-- Alle Datensätze durchlaufen
BEGIN
	SET @StrOffset = 15 - Len(@Bezirk)
	--SET @FormatString = @Counter + '. ' + @Bezirk + Left(@Buffer,@StrOffset) + @Anz
	SET @FormatString = @Counter + '. ' + @Bezirk + CHAR(9) + CHAR(9) + CHAR(9) + @Anz
	SET @ResultString = @ResultString  + CHAR(13) + @FormatString
	SET @Counter = @Counter +1 
	-- nächsten DS
	FETCH NEXT FROM Stellen_cursor					-- Nächsten DS
	INTO @Bezirk, @Anz	
END
	
SELECT @ResultString as ListeAusgeschreibeneStellen				-- Ergebniss zurück

-- print @ResultString
CLOSE Stellen_cursor								-- Cursor Schliessen
DEALLOCATE Stellen_cursor
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE NOTARE_ListeBewerber  @ID012 uniqueidentifier   AS


DECLARE @RangNr  Varchar(3)
DECLARE @Punkte varchar(10)
DECLARE @Anrede varchar(50)
DECLARE @Vorname  Varchar(255)
DECLARE @Nachname Varchar(255) 
DECLARE @FormatString varchar(2000)
DECLARE @ResultRangNamePunkte varchar(4000)
DECLARE @ResultRANachname varchar(4000)

SET @ResultRangNamePunkte =''
SET @ResultRANachname =''

-- Cursor für Stellendaten
DECLARE Bewerber_cursor CURSOR FOR
SELECT Vorname010, Nachname010, Anrede010,Rang013, PUNKTE03013  
FROM Bewerb013 INNER JOIN RA010 on FK010013 = ID010
WHERE FK012013 = Cast(@ID012 as uniqueidentifier)
ORDER BY Rang013

-- Cursor öffnen
OPEN Bewerber_cursor
-- 1. DS
FETCH NEXT FROM Bewerber_cursor
INTO @Vorname, @Nachname, @Anrede, @RangNr , @Punkte
	
-- Alle Datensätze durchlaufen
WHILE @@FETCH_STATUS = 0
BEGIN

	SET @FormatString = @RangNr + ')' + CHAR(9) +  @Anrede + ' ' + @Nachname + ', ' + @Vorname + CHAR(9) + CHAR(9) + CHAR(9) + @Punkte + ' Punkte ' 
	SET @ResultRangNamePunkte = @ResultRangNamePunkte + CHAR(13) + @FormatString



	SET @FormatString =   CASE WHEN @Anrede = 'Frau' THEN 'Rechtsanwältin ' ELSE 'Rechtsanwalt ' END  +  '  ' + @Nachname
	SET @ResultRANachname = @ResultRANachname + @FormatString
   	--SELECT @FormatString
	--SELECT @RangNr + ') ' +  @Anrede + ' ' + @Nachname + ', ' + @Vorname + ' 		'  + @Punkte + ' Punkte ' 
	--SELECT @ResultString
	-- nächsten DS
	FETCH NEXT FROM Bewerber_cursor
	INTO @Vorname, @Nachname, @Anrede, @RangNr , @Punkte	
END

SELECT @ResultRangNamePunkte as Bewerber_RangNamePunkte, @ResultRANachname as Bewerber_RANachname

-- print @ResultString
-- Cursor Schliessen
CLOSE Bewerber_cursor
DEALLOCATE Bewerber_cursor
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE NOTARE_ListeBewerberAbgelehnt  @ID012 uniqueidentifier   AS


DECLARE @RangNr  Varchar(3)
DECLARE @Punkte varchar(10)
DECLARE @Anrede varchar(50)
DECLARE @Vorname  Varchar(255)
DECLARE @Nachname Varchar(255) 
DECLARE @FormatString varchar(2000)
DECLARE @ResultRangNamePunkte varchar(4000)
DECLARE @ResultRANachname varchar(4000)

SET @ResultRangNamePunkte =''
SET @ResultRANachname =''

-- Cursor für Stellendaten
DECLARE Bewerber_cursor CURSOR FOR
SELECT Vorname010, Nachname010, Anrede010,Rang013, PUNKTE03013  
FROM Bewerb013 INNER JOIN RA010 on FK010013 = ID010
WHERE FK012013 = Cast(@ID012 as uniqueidentifier) AND ISNULL(Zusage013,0) = 0
ORDER BY Rang013

-- Cursor öffnen
OPEN Bewerber_cursor
-- 1. DS
FETCH NEXT FROM Bewerber_cursor
INTO @Vorname, @Nachname, @Anrede, @RangNr , @Punkte
	
-- Alle Datensätze durchlaufen
WHILE @@FETCH_STATUS = 0
BEGIN

	SET @FormatString = @RangNr + ')' + CHAR(9) +  @Anrede + ' ' + @Nachname + ', ' + @Vorname + CHAR(9) + CHAR(9) + CHAR(9) + @Punkte + ' Punkte ' 
	SET @ResultRangNamePunkte = @ResultRangNamePunkte + CHAR(13) + @FormatString



	SET @FormatString =   CASE WHEN @Anrede = 'Frau' THEN 'Rechtsanwältin ' ELSE 'Rechtsanwalt ' END  +  '  ' + @Nachname
	SET @ResultRANachname = @ResultRANachname + @FormatString
   	--SELECT @FormatString
	--SELECT @RangNr + ') ' +  @Anrede + ' ' + @Nachname + ', ' + @Vorname + ' 		'  + @Punkte + ' Punkte ' 
	--SELECT @ResultString
	-- nächsten DS
	FETCH NEXT FROM Bewerber_cursor
	INTO @Vorname, @Nachname, @Anrede, @RangNr , @Punkte	
END

SELECT @ResultRangNamePunkte as Bewerber_RangNamePunkte, @ResultRANachname as Bewerber_RANachname

-- print @ResultString
-- Cursor Schliessen
CLOSE Bewerber_cursor
DEALLOCATE Bewerber_cursor
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE NOTARE_ListeBewerberZugesagt  @ID012 uniqueidentifier   AS


DECLARE @RangNr  Varchar(3)
DECLARE @Punkte varchar(10)
DECLARE @Anrede varchar(50)
DECLARE @Vorname  Varchar(255)
DECLARE @Nachname Varchar(255) 
DECLARE @FormatString varchar(2000)
DECLARE @ResultRangNamePunkte varchar(4000)
DECLARE @ResultRANachname varchar(4000)

SET @ResultRangNamePunkte =''
SET @ResultRANachname =''

-- Cursor für Stellendaten
DECLARE Bewerber_cursor CURSOR FOR
SELECT Vorname010, Nachname010, Anrede010,Rang013, PUNKTE03013  
FROM Bewerb013 INNER JOIN RA010 on FK010013 = ID010
WHERE FK012013 = Cast(@ID012 as uniqueidentifier) AND ISNULL(Zusage013,0) = -1
ORDER BY Rang013

-- Cursor öffnen
OPEN Bewerber_cursor
-- 1. DS
FETCH NEXT FROM Bewerber_cursor
INTO @Vorname, @Nachname, @Anrede, @RangNr , @Punkte
	
-- Alle Datensätze durchlaufen
WHILE @@FETCH_STATUS = 0
BEGIN

	SET @FormatString = @RangNr + ')' + CHAR(9) +  @Anrede + ' ' + @Nachname + ', ' + @Vorname + CHAR(9) + CHAR(9) + CHAR(9) + @Punkte + ' Punkte ' 
	SET @ResultRangNamePunkte = @ResultRangNamePunkte + CHAR(13) + @FormatString



	SET @FormatString =   CASE WHEN @Anrede = 'Frau' THEN 'Rechtsanwältin ' ELSE 'Rechtsanwalt ' END  +  '  ' + @Nachname
	SET @ResultRANachname = @ResultRANachname + @FormatString
   	--SELECT @FormatString
	--SELECT @RangNr + ') ' +  @Anrede + ' ' + @Nachname + ', ' + @Vorname + ' 		'  + @Punkte + ' Punkte ' 
	--SELECT @ResultString
	-- nächsten DS
	FETCH NEXT FROM Bewerber_cursor
	INTO @Vorname, @Nachname, @Anrede, @RangNr , @Punkte	
END

SELECT @ResultRangNamePunkte as Bewerber_RangNamePunkte, @ResultRANachname as Bewerber_RANachname

-- print @ResultString
-- Cursor Schliessen
CLOSE Bewerber_cursor
DEALLOCATE Bewerber_cursor
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE NOTARE_Punkteauflistung @ID010 uniqueidentifier  AS


DECLARE @a Varchar(4000)
SET @a = (
SELECT '1.' + CHAR(9) +	'Staatsprüfung (§ 6 Abs. 2 Nr. 1 AVNot):' + CHAR(9) + CHAR(9) + CHAR(9) + CHAR(9) + CAST(ISNULL(dbo.RA010.EXANOTE010, 0) * 5 AS varchar(10)) + ' Punkte' + CHAR(13) 
+ CHAR(9) + '(' + ISNULL(CAST(dbo.RA010.EXANOTE010 AS Varchar(8)), '-') + ' Punkte x 5)' + CHAR(13) 
+ '2.' + CHAR(9) + 'Dauer der Anwaltstätigkeit (§ 6 Abs. 2 Nr. 2 AVNot):' + CHAR(9) + + CHAR(9) + CAST(ISNULL(dbo.BEWERB013.PUNKTE05013, 0) as varchar(5)) + ' Punkte' + CHAR(13) + CHAR(9) + '(' + CAST(ISNULL(DATEDIFF([month], dbo.RA010.ANWALTSEIT010, dbo.STELLEN012.FRIST012), 0) as Varchar(4)) + 'Monate x 0,25 einschließlich 15 Monate Grundwehrdienst;' + CHAR(13)
+ CHAR(9) + 'jedoch maximal 45 Punkte)' + CHAR(13) 
+ '3.' + CHAR(9) + 'Fortbildungskurse (§ 6 Abs. 2 Nr. 3 AVNot):' + CHAR(13)
+ CHAR(9) + 'a) innerhalb der letzen drei Jahre: ' + CAST(ISNULL(dbo.BEWERB013.PUNKTE13013, 0) as Varchar(4)) + ' x 0,6' + CHAR(9) + CHAR(9) + CAST(ISNULL(dbo.BEWERB013.PUNKTE06013, 0) as varchar(4)) + ' Punkte' + CHAR(13)
+ CHAR(9) + 'b) sonstige Kurse: ' + Cast(ISNULL(dbo.BEWERB013.PUNKTE14013, 0) as varchar(4)) + ' x 0,3' + CHAR(9) + CHAR(9) + CHAR(9) + CHAR(9) + CAST(ISNULL(dbo.BEWERB013.PUNKTE07013, 0) as varchar(4)) + ' Punkte' + CHAR(13)
+ CHAR(9) + 'Insgesamt:' + CHAR(9) + CHAR(9) + CHAR(9) + CHAR(9) + CHAR(9) + CHAR(9) + CHAR(9) + CAST(ISNULL(dbo.BEWERB013.PUNKTE07013, 0) as varchar(4)) + ' Punkte' + CHAR(13)
+ '4.' + CHAR(9) + 'Niederschriften (§ 6 Abs. 2 Nr. 4 AVNot):' + CHAR(13)
+ CHAR(9) + 'a) innerhalb der letzten drei Jahre bei mindestens ' + CHAR(9) + CHAR(9) + CAST(ISNULL(dbo.BEWERB013.PUNKTE08013, 0) as varchar(4)) + ' Punkte' + CHAR(13)
+ CHAR(9) + 'zweiwöchiger Vertretung: ' + CAST(ISNULL(dbo.BEWERB013.PUNKTE02013, 0) as varchar(6)) + ' x 0,2' + CHAR(13)
+ CHAR(9) + 'b) sonstige Vertretungen: ' + Cast(ISNULL(dbo.BEWERB013.PUNKTE18013, 0) as varchar(6)) + ' x 0,1' + CHAR(9) + CHAR(9) + CHAR(9) + CHAR(9) + Cast(ISNULL(dbo.BEWERB013.PUNKTE09013, 0) as varchar(6)) + ' Punkte'

FROM dbo.RA010 LEFT OUTER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013 LEFT OUTER JOIN
                      dbo.STELLEN012 ON dbo.STELLEN012.ID012 = dbo.BEWERB013.FK012013
WHERE ID010 = '{E682E548-A8C3-44ED-860C-2F798B8C3864}'
)
Print @a
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

