if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[WORKFLOW006]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[WORKFLOW006]
GO

CREATE TABLE [dbo].[WORKFLOW006] (
	[ID006] [uniqueidentifier] NOT NULL ,
	[STEP006] [int] NOT NULL ,
	[STEPTITLE006] [varchar] (255)  NULL ,
	[ROOTKEY006] [varchar] (255)  NOT NULL ,
	[STATUSFIELD006] [varchar] (255)  NOT NULL ,
	[DESC006] [varchar] (1000)  NULL ,
	[ACTION006] [varchar] (1000)  NULL ,
	[CONDITONVALUE006] [varchar] (1000)  NULL ,
	[CONDITION006] [varchar] (1000)  NULL ,
	[CONDITIONFROM006] [varchar] (1000) COLLATE Latin1_General_CI_AS NULL ,
	[CONDITIONFAILDMSG006] [varchar] (1000)  NULL ,
	[CREATE006] [datetime] NOT NULL ,
	[MODIFY006] [datetime] NOT NULL ,
	[CFROM006] [varchar] (255)  NULL ,
	[MFROM006] [varchar] (255)  NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[WORKFLOW006] ADD 
	CONSTRAINT [DF_WORKFLOW006_ID006_1] DEFAULT (newid()) FOR [ID006],
	CONSTRAINT [DF_WORKFLOW006_CREATE006_1] DEFAULT (getdate()) FOR [CREATE006],
	CONSTRAINT [DF_WORKFLOW006_MODIFY006_1] DEFAULT (getdate()) FOR [MODIFY006]
GO

