if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[NOTARE_ListeBewerber]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[NOTARE_ListeBewerber]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[NOTARE_ListeBewerberAbgelehnt]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[NOTARE_ListeBewerberAbgelehnt]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[NOTARE_ListeBewerberZugesagt]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[NOTARE_ListeBewerberZugesagt]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE NOTARE_ListeBewerber  @ID012 uniqueidentifier   AS


DECLARE @RangNr  Varchar(3)
DECLARE @Punkte varchar(30)
DECLARE @Titel varchar(20)
DECLARE @Anrede varchar(50)
DECLARE @Vorname  Varchar(255)
DECLARE @Nachname Varchar(255) 
DECLARE @FormatString varchar(2000)
DECLARE @ResultRangNamePunkte varchar(4000)
DECLARE @ResultRANachname varchar(4000)

SET @ResultRangNamePunkte =''
SET @ResultRANachname =''

-- Cursor fÃ¼r Stellendaten
DECLARE Bewerber_cursor CURSOR FOR
SELECT Vorname010, Nachname010, Titel010, Anrede010,Rang013, CAST(CONVERT(money,ISNULL(PUNKTE03013,0)) as varchar(30))  
FROM Bewerb013 INNER JOIN RA010 on FK010013 = ID010
WHERE FK012013 = Cast(@ID012 as uniqueidentifier)
ORDER BY Rang013

-- Cursor Ã¶ffnen
OPEN Bewerber_cursor
-- 1. DS
FETCH NEXT FROM Bewerber_cursor
INTO @Vorname, @Nachname, @Titel, @Anrede, @RangNr , @Punkte
	
-- Alle DatensÃ¤tze durchlaufen
WHILE @@FETCH_STATUS = 0
BEGIN

	SET @FormatString = @RangNr + ')' + CHAR(9) +  @Anrede + ' ' + 
		CASE WHEN @Titel = '' THEN @Nachname ELSE @Titel + ' ' + @Nachname END + ', ' + @Vorname + CHAR(9) + CHAR(9) + CHAR(9) + @Punkte + ' Punkte ' 
	SET @ResultRangNamePunkte = @ResultRangNamePunkte + CHAR(13) + @FormatString

	SET @FormatString =   CASE WHEN @Anrede = 'Frau' THEN 'RechtsanwÃ¤ltin ' ELSE 'Rechtsanwalt ' END  +  ' ' + 
		CASE WHEN @Titel = '' THEN @Nachname ELSE @Titel + ' ' + @Nachname END
	SET @ResultRANachname = @ResultRANachname  + CHAR(13) + @FormatString
   	--SELECT @FormatString
	--SELECT @RangNr + ') ' +  @Anrede + ' ' + @Nachname + ', ' + @Vorname + ' 		'  + @Punkte + ' Punkte ' 
	--SELECT @ResultString
	-- nÃ¤chsten DS
	FETCH NEXT FROM Bewerber_cursor
	INTO @Vorname, @Nachname, @Titel, @Anrede, @RangNr , @Punkte
END

SELECT @ResultRangNamePunkte as ListeBewerber_RangNamePunkte, @ResultRANachname as ListeBewerber_RANachname

-- print @ResultString
-- Cursor Schliessen
CLOSE Bewerber_cursor
DEALLOCATE Bewerber_cursor
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE NOTARE_ListeBewerberAbgelehnt  @ID012 uniqueidentifier   AS


DECLARE @RangNr  Varchar(3)
DECLARE @Punkte varchar(10)
DECLARE @Titel varchar(20)
DECLARE @Anrede varchar(50)
DECLARE @Vorname  Varchar(255)
DECLARE @Nachname Varchar(255) 
DECLARE @FormatString varchar(2000)
DECLARE @ResultRangNamePunkte varchar(4000)
DECLARE @ResultRANachname varchar(4000)

SET @ResultRangNamePunkte =''
SET @ResultRANachname =''

-- Cursor fÃ¼r Stellendaten
DECLARE Bewerber_cursor CURSOR FOR
SELECT Vorname010, Nachname010, Titel010,Anrede010,Rang013, CAST(CONVERT(money,ISNULL(PUNKTE03013,0)) as varchar(30))  
FROM Bewerb013 INNER JOIN RA010 on FK010013 = ID010
WHERE FK012013 = Cast(@ID012 as uniqueidentifier) AND ISNULL(Zusage013,0) = 0
ORDER BY Rang013

-- Cursor Ã¶ffnen
OPEN Bewerber_cursor
-- 1. DS
FETCH NEXT FROM Bewerber_cursor
INTO @Vorname, @Nachname, @Titel, @Anrede, @RangNr , @Punkte
	
-- Alle DatensÃ¤tze durchlaufen
WHILE @@FETCH_STATUS = 0
BEGIN

	SET @FormatString = @RangNr + ')' + CHAR(9) +  @Anrede + ' ' + 
		CASE WHEN @Titel = '' THEN @Nachname ELSE @Titel + ' ' + @Nachname END + ', ' + @Vorname + CHAR(9) + CHAR(9) + CHAR(9) + @Punkte + ' Punkte ' 
	SET @ResultRangNamePunkte = @ResultRangNamePunkte + CHAR(13) + @FormatString

	SET @FormatString =   CASE WHEN @Anrede = 'Frau' THEN 'RechtsanwÃ¤ltin ' ELSE 'Rechtsanwalt ' END  +  ' ' + 
		CASE WHEN @Titel = '' THEN @Nachname ELSE @Titel + ' ' + @Nachname END
	SET @ResultRANachname = @ResultRANachname + CHAR(13) + @FormatString
	
   	--SELECT @FormatString
	--SELECT @RangNr + ') ' +  @Anrede + ' ' + @Nachname + ', ' + @Vorname + ' 		'  + @Punkte + ' Punkte ' 
	--SELECT @ResultString
	-- nÃ¤chsten DS
	FETCH NEXT FROM Bewerber_cursor
	INTO @Vorname, @Nachname, @Titel, @Anrede, @RangNr , @Punkte
END

SELECT @ResultRangNamePunkte as ListeBewerberAbgelehnt_RangNamePunkte, @ResultRANachname as ListeBewerberAbgelehnt_RANachname

-- print @ResultString
-- Cursor Schliessen
CLOSE Bewerber_cursor
DEALLOCATE Bewerber_cursor
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE NOTARE_ListeBewerberZugesagt  @ID012 uniqueidentifier   AS


DECLARE @RangNr  Varchar(3)
DECLARE @Punkte varchar(10)
DECLARE @Titel varchar(20)
DECLARE @Anrede varchar(50)
DECLARE @Vorname  Varchar(255)
DECLARE @Nachname Varchar(255) 
DECLARE @FormatString varchar(2000)
DECLARE @ResultRangNamePunkte varchar(4000)
DECLARE @ResultRANachname varchar(4000)

SET @ResultRangNamePunkte =''
SET @ResultRANachname =''

-- Cursor fÃ¼r Stellendaten
DECLARE Bewerber_cursor CURSOR FOR
SELECT Vorname010, Nachname010, Titel010, Anrede010,Rang013, CAST(CONVERT(money,ISNULL(PUNKTE03013,0)) as varchar(30))  
FROM Bewerb013 INNER JOIN RA010 on FK010013 = ID010
WHERE FK012013 = Cast(@ID012 as uniqueidentifier) AND ISNULL(Zusage013,0) = -1
ORDER BY Rang013

-- Cursor Ã¶ffnen
OPEN Bewerber_cursor
-- 1. DS
FETCH NEXT FROM Bewerber_cursor
INTO @Vorname, @Nachname, @Titel, @Anrede, @RangNr , @Punkte
	
-- Alle DatensÃ¤tze durchlaufen
WHILE @@FETCH_STATUS = 0
BEGIN

	SET @FormatString = @RangNr + ')' + CHAR(9) +  @Anrede + ' ' + 
		CASE WHEN @Titel = '' THEN @Nachname ELSE @Titel + ' ' + @Nachname END + ', ' + @Vorname + CHAR(9) + CHAR(9) + CHAR(9) + @Punkte + ' Punkte ' 
	SET @ResultRangNamePunkte = @ResultRangNamePunkte + CHAR(13) + @FormatString

	SET @FormatString =   CASE WHEN @Anrede = 'Frau' THEN 'RechtsanwÃ¤ltin ' ELSE 'Rechtsanwalt ' END  +  ' ' + 
		CASE WHEN @Titel = '' THEN @Nachname ELSE @Titel + ' ' + @Nachname END
	SET @ResultRANachname = @ResultRANachname + CHAR(13) + @FormatString
	
   	--SELECT @FormatString
	--SELECT @RangNr + ') ' +  @Anrede + ' ' + @Nachname + ', ' + @Vorname + ' 		'  + @Punkte + ' Punkte ' 
	--SELECT @ResultString
	-- nÃ¤chsten DS
	FETCH NEXT FROM Bewerber_cursor
	INTO @Vorname, @Nachname, @Titel, @Anrede, @RangNr , @Punkte
END

SELECT @ResultRangNamePunkte as Bewerber_RangNamePunkte, @ResultRANachname as Bewerber_RANachname

-- print @ResultString
-- Cursor Schliessen
CLOSE Bewerber_cursor
DEALLOCATE Bewerber_cursor
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

