if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MitbewerberAbgesagtDaten]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[MitbewerberAbgesagtDaten]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MitbewerberZugesagtDaten]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[MitbewerberZugesagtDaten]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EmpfängerDaten]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[EmpfängerDaten]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.EmpfängerDaten
AS
SELECT     ID010 AS PersID, CASE WHEN ISNULL(TITEL010, '') = '' THEN '' + NACHNAME010 ELSE ISNULL(TITEL010, '') 
                      + ' ' + NACHNAME010 END AS RANachname, ISNULL(VORNAME010, '') AS RAVorname, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geehrte Frau' ELSE 'Sehr geehrter Herr' END AS RAAnredeVoll, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin' ELSE 'Herrn Rechtsanwalt' END AS RAAnredeFormal, 
                      KSTR010 + ' ' + KPLZ010 + ' ' + KORT010 AS RAAnschriftKanzlei, ISNULL(KSTR010, '') AS RAStrKanzlei, KPLZ010 + ' ' + KORT010 AS RAPLZOrtKanzlei, 
                      ISNULL(AZ010, '-') AS RAAZVI, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geerhrte Frau ' ELSE 'Sehr geehrter Herr ' END +  CASE WHEN ISNULL(TITEL010, '') = '' THEN '' + NACHNAME010 ELSE ISNULL(TITEL010, '') 
                      + ' ' + NACHNAME010 END AS RAAnredeVollName, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin ' ELSE 'Herr Rechtsanwalt ' END + 
	        CASE WHEN ISNULL(TITEL010, '') = '' THEN  ISNULL(VORNAME010,'') + ' ' + NACHNAME010 ELSE ISNULL(TITEL010, '') + ' ' + ISNULL(VORNAME010,'') + ' ' + NACHNAME010 END AS RAAnredeFormalName,
    	        CASE WHEN ISNULL(TITEL010, '') = '' THEN  ISNULL(VORNAME010, '') + ' ' + NACHNAME010 ELSE
                      ISNULL(TITEL010, '') + ' ' +  ISNULL(VORNAME010, '') + ' ' + NACHNAME010 END AS RAVornameNachname,  
	         CASE WHEN ISNULL(TITEL010, '') = '' THEN '' + NACHNAME010 ELSE ISNULL(TITEL010, '') 
                      + ' ' + NACHNAME010 END + ', ' + ISNULL(VORNAME010, '') AS RANachnameVorname, 
                      CASE WHEN RA010.ANREDE010 = 'Fau' THEN 'Frau' ELSE 'Herr' END AS RAAnrede, GEB010 AS RAGebDat, ISNULL(AMTORT010, '-') AS RAAmtssitz, 
                      ANWALTSEIT010 AS RAAnwaltSeit, AG010 AS RAAGzugelassen, LG010 AS RALGZugelassen, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Rechtsanwältin ' ELSE 'Rechtsanwalt ' END AS RAAmtsbez, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RA in ' ELSE 'RA ' END AS RAAmtsbezKurz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Notarin' ELSE 'Notar ' END AS RANotar, ISNULL(CAST(EXANOTE010 AS Varchar(8)), '-') 
                      AS RANoteStaatsexamen, ISNULL(EXANOTE010, 0) * 5 AS RAPunkteStaasexamen
FROM         dbo.RA010





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


CREATE VIEW dbo.MitbewerberAbgesagtDaten
AS
SELECT     TOP 100 PERCENT dbo.RA010.ID010 AS PersID, CASE WHEN ISNULL(dbo.RA010.TITEL010,'')=''  THEN ISNULL(dbo.RA010.NACHNAME010, '') + ', ' + ISNULL(dbo.RA010.VORNAME010, '') 
		ELSE ISNULL(dbo.RA010.TITEL010,'')  + ' ' + ISNULL(dbo.RA010.NACHNAME010, '') + ', ' + ISNULL(dbo.RA010.VORNAME010, '')  END
                      AS AMitbewerberVoll, 
                     CASE WHEN ISNULL(dbo.RA010.TITEL010,'') =''  THEN dbo.RA010.NACHNAME010 ELSE  ISNULL(dbo.RA010.TITEL010,'') + ' ' + dbo.RA010.NACHNAME010 END AS AMitbewerberNachname, 
		ISNULL(dbo.RA010.ANREDE010, '') AS AMitbewerberAnrede, 
                      ISNULL(dbo.RA010.TITEL010, '') AS AMitbewerberTitel, ISNULL(dbo.RA010.NAMEZUS010, '') AS AMitbewerberNamenszusatz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geehrte Frau' ELSE 'Sehr geehrter Herr' END AS AMitbewerberAnredeVoll, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin' ELSE 'Herrn Rechtsanwalt' END AS AMitbewerberAnredeFormal, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geerhrte Frau ' ELSE 'Sehr geehrter Herr ' END + 
	         CASE WHEN ISNULL(TITEL010,'') = '' THEN dbo.RA010.NACHNAME010 ELSE ISNULL(TITEL010,'') + ' ' +  dbo.RA010.NACHNAME010 END AS AMitbewerberAnredeVollName,
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin ' ELSE 'Herr Rechtsanwalt ' END + 
	         CASE WHEN  ISNULL(TITEL010,'') = '' THEN ISNULL(dbo.RA010.VORNAME010,'') + ' ' + dbo.RA010.NACHNAME010 
 	         ELSE ISNULL(TITEL010,'')  + ' ' + ISNULL(dbo.RA010.VORNAME010,'') + ' ' + dbo.RA010.NACHNAME010 END  AS AMitbewerberAnredeFormalName, 
	         ISNULL(dbo.RA010.AMTORT010, '-') AS AMitbewerberAmtssitz, 
                      dbo.BEWERB013.EINGANG013 AS AMitbewerberBewDatum, dbo.RA010.AZ010 AS AMitbewerberAZVI, ISNULL(dbo.BEWERB013.RANG013, '') 
                      AS AMitbewerberRang, dbo.RA010.AG010 AS AMitbewerberAGzugelassen, dbo.RA010.LG010 AS AMitbewerberLGZugelassen, 
                      ISNULL(dbo.RA010.VORNAME010, '') AS AMitbewerberVorname, ISNULL(CAST(dbo.RA010.EXANOTE010 AS Varchar(8)), '-') 
                      AS AMitbewerberNoteStaatsEx, ISNULL(dbo.RA010.EXANOTE010, 0) * 5 AS AMitbewerberPunkteStaatsexamen, 
                      ISNULL(dbo.BEWERB013.PUNKTE05013, 0) AS AMitbewerberPunkteAnwalttätigkeit, ISNULL(dbo.BEWERB013.PUNKTE06013, 0) 
                      AS AMitbewerberPunkteFortbildungen3Jahre, ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS AMitbewerberPunkteSonstigeFortbildungen, 
                      ISNULL(dbo.BEWERB013.PUNKTE06013, 0) + ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS AMitbewerberPunkteFortbildungenGesamt, 
                      ISNULL(dbo.BEWERB013.PUNKTE08013, 0) AS AMitbewerberPunkteNS3Jahren, ISNULL(dbo.BEWERB013.PUNKTE09013, 0) 
                      AS AMitbewerberPunkteNS200, ISNULL(dbo.BEWERB013.PUNKTE10013, 0) AS AMitbewerberPunkteNS500, ISNULL(dbo.BEWERB013.PUNKTE11013, 
                      0) AS AMitbewerberPunkteNS1000, ISNULL(dbo.BEWERB013.PUNKTE12013, 0) AS AMitbewerberPunkteNSab1000, 
	        Cast( CONVERT(money, ISNULL(dbo.BEWERB013.PUNKTE03013, 0)) as varchar(30)) AS AMitbewerberPunkte,          	       
	         ISNULL(dbo.BEWERB013.PUNKTE02013, 0) AS AMitbewerberNSin3Jahren, 
                      ISNULL(dbo.BEWERB013.PUNKTE18013, 0) AS AMitbewerberSonstNS200, ISNULL(dbo.BEWERB013.PUNKTE19013, 0) AS AMitbewerberSonstNS500, 
                      ISNULL(dbo.BEWERB013.PUNKTE20013, 0) AS AMitbewerberSonstNS1000, CASE WHEN (ISNULL(PUNKTE01013, 0) - ISNULL(PUNKTE02013, 0) 
                      - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) < 0 THEN 0 ELSE (ISNULL(PUNKTE01013, 0) - ISNULL(PUNKTE02013, 0) 
                      - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) END AS AMitbewerberSonstNSab1000, 
                      dbo.RA010.ID010 AS AMitbewerberPersID, ISNULL(dbo.BEWERB013.PUNKTE08013, 0) + ISNULL(dbo.BEWERB013.PUNKTE09013, 0) 
                      + ISNULL(dbo.BEWERB013.PUNKTE10013, 0) + ISNULL(dbo.BEWERB013.PUNKTE11013, 0) + ISNULL(dbo.BEWERB013.PUNKTE12013, 0) 
                      AS AMitbewerberPunkteNSGesamt, ISNULL(dbo.BEWERB013.PUNKTE16013, 0) AS AMitbewerberSonderpunkte, 
                      ISNULL(dbo.BEWERB013.PUNKTE13013, 0) AS AMitbewerberHTFortbildungen3Jahre, ISNULL(dbo.BEWERB013.PUNKTE14013, 0) 
                      AS AMitbewerberHTSonstFortbildungen, dbo.BEWERB013.FK012013 AS StellenID, ISNULL(dbo.BEWERB013.PUNKTE21013, 0) 
                      AS AMitbewerberMonateAnwalt, CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RechtsanwÃ¤ltin ' ELSE 'Rechtsanwalt ' END AS AMitbewerberAmtsbez, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RA in ' ELSE 'RA ' END AS AMitbewerberAmtsbezKurz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Notarin' ELSE 'Notar ' END AS AMitbewerberNotar
FROM         dbo.RA010 INNER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


CREATE VIEW dbo.MitbewerberZugesagtDaten
AS
SELECT     TOP 100 PERCENT dbo.RA010.ID010 AS PersID, 
	       CASE WHEN ISNULL(dbo.RA010.TITEL010,'')=''  THEN ISNULL(dbo.RA010.NACHNAME010, '') + ', ' + ISNULL(dbo.RA010.VORNAME010, '')  
	       ELSE ISNULL(dbo.RA010.TITEL010,'') + ' ' + ISNULL(dbo.RA010.NACHNAME010, '') + ', ' + ISNULL(dbo.RA010.VORNAME010, '')  END AS ZMitbewerberVoll, 
	         CASE WHEN ISNULL(dbo.RA010.TITEL010,'') =''  THEN dbo.RA010.NACHNAME010 ELSE  ISNULL(dbo.RA010.TITEL010,'') + ' ' + dbo.RA010.NACHNAME010 END AS ZMitbewerberNachname, 
	         ISNULL(dbo.RA010.ANREDE010, '') AS ZMitbewerberAnrede, 
                      ISNULL(dbo.RA010.TITEL010, '') AS ZMitbewerberTitel, ISNULL(dbo.RA010.NAMEZUS010, '') AS ZMitbewerberNamenszusatz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geehrte Frau' ELSE 'Sehr geehrter Herr' END AS ZMitbewerberAnredeVoll, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin' ELSE 'Herrn Rechtsanwalt' END AS ZMitbewerberAnredeFormal, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geerhrte Frau ' ELSE 'Sehr geehrter Herr ' END + 
	         CASE WHEN ISNULL(dbo.RA010.TITEL010,'') =''  THEN dbo.RA010.NACHNAME010
	         ELSE ISNULL(dbo.RA010.TITEL010,'') + ' ' + dbo.RA010.NACHNAME010 END AS ZMitbewerberAnredeVollName,
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin ' ELSE 'Herr Rechtsanwalt ' END + 
	         CASE WHEN ISNULL(dbo.RA010.TITEL010,'') =''  THEN ISNULL(dbo.RA010.VORNAME010,'') + ' ' + dbo.RA010.NACHNAME010
	        ELSE ISNULL(dbo.RA010.TITEL010,'') + ' ' + ISNULL(dbo.RA010.VORNAME010,'') + ' ' + dbo.RA010.NACHNAME010 END  AS ZMitbewerberAnredeFormalName, 
	         ISNULL(dbo.RA010.AMTORT010, '-') AS ZMitbewerberAmtssitz, 
                      dbo.BEWERB013.EINGANG013 AS ZMitbewerberBewDatum, dbo.RA010.AZ010 AS ZMitbewerberAZVI, ISNULL(dbo.BEWERB013.RANG013, '') 
                      AS ZMitbewerberRang, dbo.RA010.AG010 AS ZMitbewerberAGzugelassen, dbo.RA010.LG010 AS ZMitbewerberLGZugelassen, 
                      ISNULL(dbo.RA010.VORNAME010, '') AS ZMitbewerberVorname, ISNULL(CAST(dbo.RA010.EXANOTE010 AS Varchar(8)), '-') 
                      AS ZMitbewerberNoteStaatsEx, ISNULL(dbo.RA010.EXANOTE010, 0) * 5 AS ZMitbewerberPunkteStaatsexamen, 
                      ISNULL(dbo.BEWERB013.PUNKTE05013, 0) AS ZMitbewerberPunkteAnwalttätigkeit, ISNULL(dbo.BEWERB013.PUNKTE06013, 0) 
                      AS ZMitbewerberPunkteFortbildungen3Jahre, ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS ZMitbewerberPunkteSonstigeFortbildungen, 
                      ISNULL(dbo.BEWERB013.PUNKTE06013, 0) + ISNULL(dbo.BEWERB013.PUNKTE07013, 0) AS ZMitbewerberPunkteFortbildungenGesamt, 
                      ISNULL(dbo.BEWERB013.PUNKTE08013, 0) AS ZMitbewerberPunkteNS3Jahren, ISNULL(dbo.BEWERB013.PUNKTE09013, 0) 
                      AS ZMitbewerberPunkteNS200, ISNULL(dbo.BEWERB013.PUNKTE10013, 0) AS ZMitbewerberPunkteNS500, ISNULL(dbo.BEWERB013.PUNKTE11013, 
                      0) AS ZMitbewerberPunkteNS1000, ISNULL(dbo.BEWERB013.PUNKTE12013, 0) AS ZMitbewerberPunkteNSab1000, 
	         Cast( CONVERT(money, ISNULL(dbo.BEWERB013.PUNKTE03013, 0)) as varchar(30)) AS ZMitbewerberPunkte,          	       
	        ISNULL(dbo.BEWERB013.PUNKTE02013, 0) AS ZMitbewerberNSin3Jahren, 
                      ISNULL(dbo.BEWERB013.PUNKTE18013, 0) AS ZMitbewerberSonstNS200, ISNULL(dbo.BEWERB013.PUNKTE19013, 0) AS ZMitbewerberSonstNS500, 
                      ISNULL(dbo.BEWERB013.PUNKTE20013, 0) AS ZMitbewerberSonstNS1000, CASE WHEN (ISNULL(PUNKTE01013, 0) - ISNULL(PUNKTE02013, 0) 
                      - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) < 0 THEN 0 ELSE (ISNULL(PUNKTE01013, 0) - ISNULL(PUNKTE02013, 0) 
                      - ISNULL(Punkte18013, 0) - ISNULL(punkte19013, 0) - ISNULL(punkte20013, 0)) END AS ZMitbewerberSonstNSab1000, 
                      dbo.RA010.ID010 AS ZMitbewerberPersID, ISNULL(dbo.BEWERB013.PUNKTE08013, 0) + ISNULL(dbo.BEWERB013.PUNKTE09013, 0) 
                      + ISNULL(dbo.BEWERB013.PUNKTE10013, 0) + ISNULL(dbo.BEWERB013.PUNKTE11013, 0) + ISNULL(dbo.BEWERB013.PUNKTE12013, 0) 
                      AS ZMitbewerberPunkteNSGesamt, ISNULL(dbo.BEWERB013.PUNKTE16013, 0) AS ZMitbewerberSonderpunkte, 
                      ISNULL(dbo.BEWERB013.PUNKTE13013, 0) AS ZMitbewerberHTFortbildungen3Jahre, ISNULL(dbo.BEWERB013.PUNKTE14013, 0) 
                      AS ZMitbewerberHTSonstFortbildungen, dbo.BEWERB013.FK012013 AS StellenID, ISNULL(dbo.BEWERB013.PUNKTE21013, 0) 
                      AS ZMitbewerberMonateAnwalt, CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RechtsanwÃ¤ltin ' ELSE 'Rechtsanwalt ' END AS ZMitbewerberAmtsbez, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RA in ' ELSE 'RA ' END AS ZMitbewerberAmtsbezKurz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Notarin' ELSE 'Notar ' END AS ZMitbewerberKurz
FROM         dbo.RA010 INNER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

