USE [master]
GO
/****** Objekt:  Database [notare]    Skriptdatum: 09/23/2011 13:14:40 ******/
CREATE DATABASE [notare] ON  PRIMARY 
( NAME = N'Notare_Data', FILENAME = N'D:\Programme\Microsoft SQL Server\MSSQL.1\MSSQL\Data\Notare_Data.MDF' , SIZE = 5504KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Notare_Log', FILENAME = N'D:\Programme\Microsoft SQL Server\MSSQL.1\MSSQL\Data\Notare_Log.LDF' , SIZE = 5696KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'notare', @new_cmptlevel=80
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [notare].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [notare]
GO
/****** Objekt:  User [NotareUser]    Skriptdatum: 09/23/2011 13:14:40 ******/
CREATE USER [NotareUser] FOR LOGIN [NotareUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Objekt:  Table [dbo].[RA010]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RA010](
	[ID010] [uniqueidentifier] NOT NULL CONSTRAINT [DF_RA010_ID010]  DEFAULT (newid()),
	[VORNAME010] [varchar](255) NULL CONSTRAINT [DF_RA010_VORNAME010]  DEFAULT (''),
	[NACHNAME010] [varchar](255) NOT NULL,
	[ANREDE010] [varchar](50) NULL,
	[TITEL010] [varchar](50) NULL,
	[NAMEZUS010] [varchar](50) NULL,
	[GESCHL010] [varchar](50) NULL,
	[AZ010] [varchar](50) NULL,
	[GEB010] [datetime] NULL,
	[VERSTORBEN010] [smallint] NULL CONSTRAINT [DF_RA010_VERSTORBEN010]  DEFAULT (0),
	[STAAT010] [varchar](50) NULL,
	[AMTPLZ010] [varchar](5) NULL,
	[AMTORT010] [varchar](255) NULL,
	[STR010] [varchar](255) NULL,
	[PLZ010] [varchar](5) NULL,
	[ORT010] [varchar](255) NULL,
	[KSTR010] [varchar](255) NULL,
	[KPLZ010] [varchar](5) NULL,
	[KORT010] [varchar](155) NULL,
	[TEL010] [varchar](20) NULL,
	[FAX010] [varchar](20) NULL,
	[EMAIL010] [varchar](100) NULL,
	[KTEL010] [varchar](20) NULL,
	[KFAX010] [varchar](20) NULL,
	[KEMAIL010] [varchar](100) NULL,
	[ANWALTSEIT010] [datetime] NULL,
	[EXANOTE010] [float] NULL,
	[WORKFLOW010] [int] NULL,
	[BEM010] [varchar](255) NULL,
	[STATUS010] [varchar](50) NOT NULL CONSTRAINT [DF_RA010_STATUS010]  DEFAULT ('Bewerber'),
	[AG010] [varchar](50) NULL,
	[LG010] [varchar](50) NULL,
	[BESTELLT010] [datetime] NULL,
	[AUSGESCH010] [datetime] NULL,
	[CREATE010] [datetime] NOT NULL CONSTRAINT [DF_RA010_CREATE010]  DEFAULT (getdate()),
	[MODIFY010] [datetime] NULL CONSTRAINT [DF_RA010_MODIFY010]  DEFAULT (getdate()),
	[CFROM010] [varchar](255) NULL,
	[MFROM010] [varchar](255) NULL,
 CONSTRAINT [PK_RA010] PRIMARY KEY CLUSTERED 
(
	[ID010] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[OLG002]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [OLG002](
	[ID002] [uniqueidentifier] NOT NULL CONSTRAINT [DF_OLG002_ID002]  DEFAULT (newid()),
	[OLGNAME002] [varchar](255) NOT NULL,
	[OLGSTR002] [varchar](255) NULL,
	[OLGPLZ002] [varchar](50) NULL,
	[OLGORT002] [varchar](50) NULL,
	[OLGMAIL002] [varchar](50) NULL,
	[OLGTEL002] [varchar](50) NULL,
	[OLGFAX002] [varchar](50) NULL,
	[MODIFY002] [datetime] NULL CONSTRAINT [DF_OLG002_MODIFY002]  DEFAULT (getdate()),
	[CREATE002] [datetime] NULL CONSTRAINT [DF_OLG002_CREATE002]  DEFAULT (getdate()),
	[MFROM002] [varchar](50) NULL,
	[CFROM002] [varchar](50) NULL,
 CONSTRAINT [PK_OLG002] PRIMARY KEY CLUSTERED 
(
	[ID002] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [IX_OLG002] UNIQUE NONCLUSTERED 
(
	[OLGNAME002] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[OPTIONS023]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [OPTIONS023](
	[ID23] [uniqueidentifier] NOT NULL CONSTRAINT [DF_OPTIONS023_ID23]  DEFAULT (newid()),
	[Option023] [varchar](255) NULL,
	[USER023] [varchar](60) NULL,
	[COMPUTER023] [varchar](255) NULL,
	[KATEGORIE023] [varchar](255) NULL,
	[WERTTEXT023] [varchar](255) NULL,
	[WERTNUM023] [int] NULL,
	[WERTMEMO023] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[USER001]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [USER001](
	[ID001] [uniqueidentifier] NOT NULL CONSTRAINT [DF_USER001_ID001]  DEFAULT (newid()),
	[USERNAME001] [varchar](255) NOT NULL,
	[PWD001] [varchar](50) NULL,
	[FK002001] [uniqueidentifier] NULL,
	[VORNAME001] [varchar](50) NULL,
	[NACHNAME001] [varchar](50) NULL,
	[TEL001] [varchar](50) NULL,
	[FAX001] [varchar](50) NULL,
	[EMAIL001] [varchar](100) NULL,
	[SYSTEM001] [smallint] NULL CONSTRAINT [DF_USER001_SYSTEM001]  DEFAULT (0),
	[CREATE001] [datetime] NOT NULL CONSTRAINT [DF_USER001_CREATE001]  DEFAULT (getdate()),
	[MODIFY001] [datetime] NULL CONSTRAINT [DF_USER001_MODIFY001]  DEFAULT (getdate()),
	[CFROM001] [varchar](255) NULL,
	[MFROM001] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[VALUES015]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [VALUES015](
	[ID015] [uniqueidentifier] NOT NULL CONSTRAINT [DF_VALUES015_ID015]  DEFAULT (newid()),
	[Fieldname015] [varchar](50) NULL,
	[Order015] [int] NULL,
	[Value015] [varchar](255) NULL,
	[UseValue015] [smallint] NULL,
	[DestField015] [varchar](255) NULL,
 CONSTRAINT [PK_VALUES015] PRIMARY KEY CLUSTERED 
(
	[ID015] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[UpdateHistory025]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [UpdateHistory025](
	[UpdateDate025] [datetime] NOT NULL,
	[DBVersion_Vor025] [varchar](5) NULL,
	[DBVersion_Nach025] [varchar](5) NULL,
	[Beschreibung025] [varchar](255) NULL,
	[Benutzer025] [varchar](50) NULL,
	[SQL_SRV_Version025] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[VORGANG021]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [VORGANG021](
	[ID021] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Vorgang_ID021]  DEFAULT (newid()),
	[AZ021] [varchar](50) NULL,
	[JAHR021] [int] NULL,
	[CAPTION021] [varchar](255) NULL,
	[STEP021] [int] NULL,
	[NOTARID021] [uniqueidentifier] NULL,
	[CREATE021] [datetime] NOT NULL CONSTRAINT [DF_Vorgang_CREATE021]  DEFAULT (getdate()),
	[MODIFY021] [datetime] NOT NULL CONSTRAINT [DF_Vorgang_MODIFY021]  DEFAULT (getdate()),
	[CFROM021] [varchar](255) NULL,
	[MFROM021] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[MITGLIED]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MITGLIED](
	[MitgliedsNr] [float] NULL,
	[Mitglieder_Name] [nvarchar](255) NULL,
	[Vorname] [nvarchar](255) NULL,
	[Titel] [nvarchar](255) NULL,
	[Kanzlei_Name] [nvarchar](255) NULL,
	[Straße] [nvarchar](255) NULL,
	[ZustellPlz] [float] NULL,
	[Ort] [nvarchar](255) NULL,
	[Telefon] [nvarchar](255) NULL,
	[Fax] [nvarchar](255) NULL,
	[eMail] [nvarchar](255) NULL,
	[Datum Zulassung AG] [smalldatetime] NULL,
	[Datum Zulassung LG] [smalldatetime] NULL,
	[Datum Zulassung OLG] [smalldatetime] NULL,
	[Zulassung Notar] [nvarchar](255) NULL,
	[Geburtstag] [smalldatetime] NULL,
	[Geburtsort] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[AUSSCHREIBUNG020]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [AUSSCHREIBUNG020](
	[ID020] [uniqueidentifier] NOT NULL CONSTRAINT [DF_AUSSCHREIBUNG020_ID020]  DEFAULT (newid()),
	[JAHR020] [int] NOT NULL,
	[AZ020] [varchar](50) NOT NULL,
	[WORKFLOW020] [varchar](5) NULL CONSTRAINT [DF_AUSSCHREIBUNG020_WORKFLOW020]  DEFAULT (0),
	[CREATE020] [datetime] NOT NULL CONSTRAINT [DF_AUSSCHREIBUNG020_CREATE020]  DEFAULT (getdate()),
	[MODIFY020] [datetime] NULL CONSTRAINT [DF_AUSSCHREIBUNG020_MODIFY020]  DEFAULT (getdate()),
	[CFROM020] [varchar](255) NULL,
	[MFROM020] [varchar](255) NULL,
 CONSTRAINT [PK_AUSSCHREIBUNG020] PRIMARY KEY CLUSTERED 
(
	[ID020] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_AUSSCHREIBUNG020] ON [AUSSCHREIBUNG020] 
(
	[JAHR020] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[BERECHNUNGEN016]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [BERECHNUNGEN016](
	[ID016] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Berechnungen_ID016]  DEFAULT (newid()),
	[FAKTOR016] [float] NULL CONSTRAINT [DF_Berechnungen_FAKTOR016]  DEFAULT (0.0),
	[VALUETYPE016] [varchar](50) NULL,
	[ORDER016] [int] NULL,
	[MAXWERT016] [int] NULL CONSTRAINT [DF_BERECHNUNGEN016_MAXWERT016]  DEFAULT (0),
	[CAPTION016] [varchar](255) NULL,
	[CAPTIONSQL016] [varchar](1000) NULL,
	[VALUESQL016] [varchar](1000) NULL,
	[MAXVALUE016] [int] NULL CONSTRAINT [DF_BERECHNUNGEN016_MAXVALUE016]  DEFAULT (0),
	[LOCKED016] [smallint] NOT NULL CONSTRAINT [DF_BERECHNUNGEN016_LOCKED016]  DEFAULT (0),
	[SAVEFIELD016] [varchar](255) NULL,
	[PUNKTESAVEFIELD016] [varchar](255) NULL,
 CONSTRAINT [PK_Berechnungen] PRIMARY KEY CLUSTERED 
(
	[ID016] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  View [dbo].[Ausgeschriebene Stellen]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ausgeschriebene Stellen]
AS
SELECT DISTINCT YEAR(FRIST012) AS Jahr, BEZIRK012 AS Bezirk, ANZ012 AS [Ausgeschriebene Stellen]
FROM         dbo.STELLEN012
GO
/****** Objekt:  View [dbo].[AusgeschriebeneStellen]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [AusgeschriebeneStellen]
AS
SELECT DISTINCT YEAR(FRIST012) AS Jahr, BEZIRK012 AS Bezirk, ANZ012 AS 'Ausgeschriebene Stellen'
FROM         dbo.STELLEN012
GO
/****** Objekt:  Table [dbo].[STELLEN012]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STELLEN012](
	[ID012] [uniqueidentifier] NOT NULL CONSTRAINT [DF_STELLEN012_ID012]  DEFAULT (newid()),
	[FK020012] [uniqueidentifier] NOT NULL,
	[BEZIRK012] [varchar](255) NOT NULL,
	[BESCH012] [varchar](255) NULL,
	[ANZ012] [int] NOT NULL CONSTRAINT [DF_STELLEN012_ANZ012]  DEFAULT (1),
	[FRIST012] [datetime] NOT NULL,
	[WORKFLOW012] [int] NULL,
	[CAPTION006] [varchar](255) NULL,
	[CREATE012] [datetime] NOT NULL CONSTRAINT [DF_STELLEN012_CREATE012]  DEFAULT (getdate()),
	[MODIFY012] [datetime] NULL CONSTRAINT [DF_STELLEN012_MODIFY012]  DEFAULT (getdate()),
	[CFROM012] [varchar](255) NULL,
	[MFROM012] [varchar](255) NULL,
 CONSTRAINT [PK_STELLEN012] PRIMARY KEY CLUSTERED 
(
	[ID012] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[WORKFLOW006]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WORKFLOW006](
	[ID006] [uniqueidentifier] NOT NULL CONSTRAINT [DF_WORKFLOW006_ID006_1]  DEFAULT (newid()),
	[STEP006] [int] NOT NULL,
	[STEPTITLE006] [varchar](255) NULL,
	[ROOTKEY006] [varchar](255) NOT NULL,
	[STATUSFIELD006] [varchar](255) NOT NULL,
	[DESC006] [varchar](1000) NULL,
	[ACTION006] [varchar](1000) NULL,
	[CONDITONVALUE006] [varchar](1000) NULL,
	[CONDITION006] [varchar](1000) NULL,
	[CONDITIONFROM006] [varchar](1000) NULL,
	[CONDITIONFAILDMSG006] [varchar](1000) NULL,
	[CREATE006] [datetime] NOT NULL CONSTRAINT [DF_WORKFLOW006_CREATE006_1]  DEFAULT (getdate()),
	[MODIFY006] [datetime] NOT NULL CONSTRAINT [DF_WORKFLOW006_MODIFY006_1]  DEFAULT (getdate()),
	[CFROM006] [varchar](255) NULL,
	[MFROM006] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[LOG000]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [LOG000](
	[ID000] [uniqueidentifier] NOT NULL,
	[Host000] [varchar](255) NULL,
	[User000] [varchar](255) NULL,
	[AppName000] [varchar](255) NULL,
	[Message000] [varchar](1000) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[FRIST024]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FRIST024](
	[ID024] [uniqueidentifier] NOT NULL CONSTRAINT [DF_FRIST024_ID024]  DEFAULT (newid()),
	[FK010024] [uniqueidentifier] NULL,
	[FK013024] [uniqueidentifier] NULL,
	[FRIST024] [datetime] NULL,
	[BEMERKUNG024] [varchar](55) NOT NULL,
	[CREATE024] [datetime] NOT NULL CONSTRAINT [DF_FRIST024_CREATE024]  DEFAULT (getdate()),
	[MODIFY024] [datetime] NULL CONSTRAINT [DF_FRIST024_MODIFY024]  DEFAULT (getdate()),
	[CFROM024] [varchar](255) NULL,
	[MFROM024] [varchar](255) NULL,
 CONSTRAINT [PK_FRIST024] PRIMARY KEY CLUSTERED 
(
	[ID024] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[DISZ019]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [DISZ019](
	[ID019] [uniqueidentifier] NOT NULL CONSTRAINT [DF_DISZ019_ID019]  DEFAULT (newid()),
	[FK010019] [uniqueidentifier] NOT NULL,
	[DATUM019] [datetime] NOT NULL,
	[MASSNAHME019] [varchar](255) NOT NULL,
	[VERSTOSS019] [varchar](255) NULL,
	[MUMSTAENDE019] [varchar](255) NULL,
	[EUMSTAENDE019] [varchar](255) NULL,
	[ERGEBNISS019] [varchar](255) NULL,
	[CREATE019] [datetime] NOT NULL CONSTRAINT [DF_DISZ019_CREATE019]  DEFAULT (getdate()),
	[MODIFY019] [datetime] NULL CONSTRAINT [DF_DISZ019_MODIFY019]  DEFAULT (getdate()),
	[CFROM019] [varchar](50) NULL,
	[MFROM019] [varchar](50) NULL,
 CONSTRAINT [PK_DISZ019] PRIMARY KEY CLUSTERED 
(
	[ID019] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[FORD022]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FORD022](
	[ID022] [uniqueidentifier] NOT NULL CONSTRAINT [DF_FORD018_ID018]  DEFAULT (newid()),
	[ORDER022] [int] NOT NULL CONSTRAINT [DF_FORD022_ORDER022]  DEFAULT (0),
	[GLAEUBIGER022] [varchar](255) NOT NULL,
	[BETRAG022] [money] NULL CONSTRAINT [DF_FORD022_BETRAG022]  DEFAULT (0),
	[FK010022] [uniqueidentifier] NOT NULL,
	[CREATE022] [datetime] NOT NULL CONSTRAINT [DF_FORD018_CREATE018]  DEFAULT (getdate()),
	[MODIFY022] [datetime] NULL CONSTRAINT [DF_FORD018_MODIFY018]  DEFAULT (getdate()),
	[CFROM022] [varchar](255) NULL,
	[MFROM022] [varchar](255) NULL,
 CONSTRAINT [PK_FORD018] PRIMARY KEY CLUSTERED 
(
	[ID022] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[FORT011]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [FORT011](
	[ID011] [uniqueidentifier] NOT NULL CONSTRAINT [DF_FORT011_ID011]  DEFAULT (newid()),
	[DATUM011] [datetime] NULL,
	[VERANSTALTER011] [varchar](255) NOT NULL,
	[THEMA011] [varchar](50) NULL,
	[ANZHT011] [int] NULL,
	[ANERKANNT011] [smallint] NULL,
	[CREATE011] [datetime] NOT NULL CONSTRAINT [DF_FORT011_CREATE011]  DEFAULT (getdate()),
	[MODIFY011] [datetime] NULL CONSTRAINT [DF_FORT011_MODIFY011]  DEFAULT (getdate()),
	[CFROM011] [varchar](255) NULL,
	[MFROM011] [varchar](255) NULL,
 CONSTRAINT [PK_FORT011] PRIMARY KEY CLUSTERED 
(
	[ID011] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[LAND005]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [LAND005](
	[ID005] [uniqueidentifier] NOT NULL CONSTRAINT [DF_LAND005_ID005]  DEFAULT (newid()),
	[LAND005] [varchar](255) NOT NULL,
	[LANDKURZ005] [varchar](50) NULL,
	[LANDKFZ005] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[AG004]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [AG004](
	[ID004] [uniqueidentifier] NOT NULL CONSTRAINT [DF_AG004_ID004]  DEFAULT (newid()),
	[AGNAME004] [varchar](255) NOT NULL,
	[AGSTR004] [varchar](255) NULL,
	[AGPLZ004] [varchar](50) NULL,
	[AGORT004] [varchar](50) NULL,
	[AGMAIL004] [varchar](50) NULL,
	[AGTEL004] [varchar](50) NULL,
	[AGFAX004] [varchar](50) NULL,
	[FK003004] [uniqueidentifier] NULL,
	[MODIFY004] [datetime] NULL CONSTRAINT [DF_AG004_MODIFY004]  DEFAULT (getdate()),
	[CREATE004] [datetime] NULL CONSTRAINT [DF_AG004_CREATE004]  DEFAULT (getdate()),
	[MFROM004] [varchar](50) NULL,
	[CFROM004] [varchar](50) NULL,
 CONSTRAINT [PK_AG004] PRIMARY KEY CLUSTERED 
(
	[ID004] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [IX_AG004] UNIQUE NONCLUSTERED 
(
	[AGNAME004] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[AKTENORT017]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [AKTENORT017](
	[ID017] [uniqueidentifier] NOT NULL CONSTRAINT [DF_AKTENORT017_ID017]  DEFAULT (newid()),
	[FK010017] [uniqueidentifier] NULL,
	[FK013017] [uniqueidentifier] NULL,
	[AKTENORT017] [varchar](255) NOT NULL,
	[CREATE017] [datetime] NOT NULL CONSTRAINT [DF_AKTENORT017_CREATE017]  DEFAULT (getdate()),
	[MODIFY017] [datetime] NULL CONSTRAINT [DF_AKTENORT017_MODIFY017]  DEFAULT (getdate()),
	[CFROM017] [varchar](255) NULL,
	[MFROM017] [varchar](255) NULL,
 CONSTRAINT [PK_AKTENORT017] PRIMARY KEY CLUSTERED 
(
	[ID017] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[DOC018]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [DOC018](
	[ID018] [uniqueidentifier] NOT NULL CONSTRAINT [DF_DOC018_ID018]  DEFAULT (newid()),
	[FK020018] [uniqueidentifier] NULL,
	[FK010018] [uniqueidentifier] NULL,
	[FK012018] [uniqueidentifier] NULL,
	[DOCPATH018] [varchar](255) NULL,
	[TEMPLATE018] [varchar](255) NULL,
	[ALIAS018] [varchar](255) NULL,
	[DOCNAME018] [varchar](255) NULL,
	[CREATE018] [datetime] NOT NULL CONSTRAINT [DF_DOC018_CREATE018]  DEFAULT (getdate()),
	[MODIFY018] [datetime] NULL CONSTRAINT [DF_DOC018_MODIFY018]  DEFAULT (getdate()),
	[CFROM018] [varchar](255) NULL,
	[MFROM018] [varchar](155) NULL,
 CONSTRAINT [PK_DOC018] PRIMARY KEY CLUSTERED 
(
	[ID018] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[AFORT014]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AFORT014](
	[ID014] [uniqueidentifier] NOT NULL CONSTRAINT [DF_AFORT014_ID014]  DEFAULT (newid()),
	[FK010014] [uniqueidentifier] NOT NULL,
	[FK011014] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AFORT014] PRIMARY KEY CLUSTERED 
(
	[ID014] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [IX_AFORT014] UNIQUE NONCLUSTERED 
(
	[FK010014] ASC,
	[FK011014] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [IX_AFORT014_1] UNIQUE NONCLUSTERED 
(
	[FK010014] ASC,
	[FK011014] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[BEWERB013]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [BEWERB013](
	[ID013] [uniqueidentifier] NOT NULL CONSTRAINT [DF_BEWERB013_ID013]  DEFAULT (newid()),
	[FK012013] [uniqueidentifier] NOT NULL,
	[FK010013] [uniqueidentifier] NOT NULL,
	[BEM013] [varchar](255) NULL,
	[EINGANG013] [datetime] NOT NULL CONSTRAINT [DF_BEWERB013_EINGANG013]  DEFAULT (getdate()),
	[PUNKTE01013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE01013]  DEFAULT (0),
	[PUNKTE02013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE02013]  DEFAULT (0),
	[PUNKTE03013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE03013]  DEFAULT (0),
	[PUNKTE04013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE04013]  DEFAULT (0),
	[PUNKTE05013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE05013]  DEFAULT (0),
	[PUNKTE06013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE06013]  DEFAULT (0),
	[PUNKTE07013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE07013]  DEFAULT (0),
	[PUNKTE08013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE08013]  DEFAULT (0),
	[PUNKTE09013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE09013]  DEFAULT (0),
	[PUNKTE10013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE10013]  DEFAULT (0),
	[PUNKTE11013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE11013]  DEFAULT (0),
	[PUNKTE12013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE12013]  DEFAULT (0),
	[PUNKTE13013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE13013]  DEFAULT (0),
	[PUNKTE14013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE14013]  DEFAULT (0),
	[PUNKTE15013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKZE15013]  DEFAULT (0),
	[PUNKTE16013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE16013]  DEFAULT (0),
	[PUNKTE17013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE17013]  DEFAULT (0),
	[PUNKTE18013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE18013]  DEFAULT (0),
	[PUNKTE19013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE19013]  DEFAULT (0),
	[PUNKTE20013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE20013]  DEFAULT (0),
	[PUNKTE21013] [float] NULL CONSTRAINT [DF_BEWERB013_PUNKTE21013]  DEFAULT (0),
	[ZUSAGE013] [smallint] NULL,
	[RANG013] [int] NULL CONSTRAINT [DF_BEWERB013_RANG013]  DEFAULT (0),
	[CREATE013] [datetime] NOT NULL CONSTRAINT [DF_BEWERB013_CREATE013]  DEFAULT (getdate()),
	[MODIFY013] [datetime] NULL CONSTRAINT [DF_BEWERB013_MODIFY013]  DEFAULT (getdate()),
	[CFROM013] [varchar](255) NULL,
	[MFROM013] [varchar](255) NULL,
	[PUNKTESUM013] [float] NULL,
 CONSTRAINT [PK_BEWERB013] PRIMARY KEY CLUSTERED 
(
	[ID013] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Objekt:  Table [dbo].[LG003]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [LG003](
	[ID003] [uniqueidentifier] NOT NULL CONSTRAINT [DF_LG003_ID003]  DEFAULT (newid()),
	[LGNAME003] [varchar](255) NOT NULL,
	[LGSTR003] [varchar](255) NULL,
	[LGPLZ003] [varchar](50) NULL,
	[LGORT003] [varchar](50) NULL,
	[LGMAIL003] [varchar](50) NULL,
	[LGTEL003] [varchar](50) NULL,
	[LGFAX003] [varchar](50) NULL,
	[FK002003] [uniqueidentifier] NULL,
	[MODIFY003] [datetime] NULL CONSTRAINT [DF_LG003_MODIFY003]  DEFAULT (getdate()),
	[CREATE003] [datetime] NULL CONSTRAINT [DF_LG003_CREATE003]  DEFAULT (getdate()),
	[MFROM003] [varchar](50) NULL,
	[CFROM003] [varchar](50) NULL,
 CONSTRAINT [PK_LG003] PRIMARY KEY CLUSTERED 
(
	[ID003] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [IX_LG003] UNIQUE NONCLUSTERED 
(
	[LGNAME003] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_LG003_1] ON [LG003] 
(
	[ID003] ASC,
	[LGNAME003] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Objekt:  View [dbo].[StellenDaten]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [StellenDaten]
AS
SELECT     dbo.STELLEN012.ID012 AS StellenID, dbo.STELLEN012.FRIST012 AS StellenBewebungsfrist, dbo.STELLEN012.BEZIRK012 AS StellenAGBezirk, 
                      dbo.LG003.LGNAME003 AS StellenLGBezirk, ISNULL(dbo.LG003.LGPLZ003, '') + ' ' + ISNULL(dbo.LG003.LGORT003, '') AS StellenLGPLZOrt, 
                      dbo.STELLEN012.ANZ012 AS StellenAnzStellen, COUNT('dbo.BEWERB013.*') AS StellenAnzBewerber, ISNULL(dbo.LG003.LGSTR003, '') 
                      AS StellenLGStrasse, dbo.STELLEN012.FK020012, dbo.AUSSCHREIBUNG020.AZ020 AS StellenAZ, 
                      dbo.AUSSCHREIBUNG020.JAHR020 AS StellenBewFristJahr
FROM         dbo.AUSSCHREIBUNG020 INNER JOIN
                      dbo.STELLEN012 ON dbo.AUSSCHREIBUNG020.ID020 = dbo.STELLEN012.FK020012 LEFT OUTER JOIN
                      dbo.BEWERB013 ON dbo.STELLEN012.ID012 = dbo.BEWERB013.FK012013 LEFT OUTER JOIN
                      dbo.LG003 RIGHT OUTER JOIN
                      dbo.AG004 ON dbo.LG003.ID003 = dbo.AG004.FK003004 ON dbo.STELLEN012.BEZIRK012 = dbo.AG004.AGNAME004
GROUP BY dbo.STELLEN012.ID012, dbo.STELLEN012.FRIST012, dbo.STELLEN012.BEZIRK012, dbo.LG003.LGNAME003, ISNULL(dbo.LG003.LGPLZ003, '') 
                      + ' ' + ISNULL(dbo.LG003.LGORT003, ''), dbo.STELLEN012.ANZ012, ISNULL(dbo.LG003.LGSTR003, ''), dbo.STELLEN012.FK020012, 
                      dbo.AUSSCHREIBUNG020.AZ020, dbo.AUSSCHREIBUNG020.JAHR020
GO
/****** Objekt:  View [dbo].[EmpfängerDaten]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [EmpfängerDaten]
AS
SELECT     dbo.RA010.ID010 AS PersID, CASE WHEN ISNULL(TITEL010, '') = '' THEN '' + NACHNAME010 ELSE ISNULL(TITEL010, '') 
                      + ' ' + NACHNAME010 END AS RANachname, ISNULL(dbo.RA010.VORNAME010, '') AS RAVorname, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geehrte Frau' ELSE 'Sehr geehrter Herr' END AS RAAnredeVoll, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin' ELSE 'Herrn Rechtsanwalt' END AS RAAnredeFormal, 
                      dbo.RA010.KSTR010 + ' ' + dbo.RA010.KPLZ010 + ' ' + dbo.RA010.KORT010 AS RAAnschriftKanzlei, ISNULL(dbo.RA010.KSTR010, '') AS RAStrKanzlei, 
                      dbo.RA010.KPLZ010 + ' ' + dbo.RA010.KORT010 AS RAPLZOrtKanzlei, ISNULL(dbo.RA010.AZ010, '-') AS RAAZVI, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geehrte Frau ' ELSE 'Sehr geehrter Herr ' END + CASE WHEN ISNULL(TITEL010, '') 
                      = '' THEN '' + NACHNAME010 ELSE ISNULL(TITEL010, '') + ' ' + NACHNAME010 END AS RAAnredeVollName, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin ' ELSE 'Herr Rechtsanwalt ' END + CASE WHEN ISNULL(TITEL010, '') 
                      = '' THEN ISNULL(VORNAME010, '') + ' ' + NACHNAME010 ELSE ISNULL(TITEL010, '') + ' ' + ISNULL(VORNAME010, '') 
                      + ' ' + NACHNAME010 END AS RAAnredeFormalName, CASE WHEN ISNULL(TITEL010, '') = '' THEN ISNULL(VORNAME010, '') 
                      + ' ' + NACHNAME010 ELSE ISNULL(TITEL010, '') + ' ' + ISNULL(VORNAME010, '') + ' ' + NACHNAME010 END AS RAVornameNachname, 
                      CASE WHEN ISNULL(TITEL010, '') = '' THEN '' + NACHNAME010 ELSE ISNULL(TITEL010, '') 
                      + ' ' + NACHNAME010 END + ', ' + ISNULL(dbo.RA010.VORNAME010, '') AS RANachnameVorname, 
                      CASE WHEN RA010.ANREDE010 = 'Fau' THEN 'Frau' ELSE 'Herr' END AS RAAnrede, dbo.RA010.GEB010 AS RAGebDat, 
                      ISNULL(dbo.RA010.AMTORT010, '-') AS RAAmtssitz, dbo.RA010.ANWALTSEIT010 AS RAAnwaltSeit, dbo.RA010.AG010 AS RAAGzugelassen, 
                      dbo.RA010.LG010 AS RALGZugelassen, CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Rechtsanwältin ' ELSE 'Rechtsanwalt ' END AS RAAmtsbez, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RA in ' ELSE 'RA ' END AS RAAmtsbezKurz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Notarin' ELSE 'Notar ' END AS RANotar, ISNULL(CAST(dbo.RA010.EXANOTE010 AS Varchar(8)), '-') 
                      AS RANoteStaatsexamen, ISNULL(dbo.RA010.EXANOTE010, 0) * 5 AS RAPunkteStaasexamen, ISNULL(dbo.LG003.LGPLZ003, '-') 
                      + ' ' + ISNULL(dbo.LG003.LGORT003, '-') AS RALGPLZORT, ISNULL(dbo.AG004.AGPLZ004, '-') + ' ' + ISNULL(dbo.AG004.AGORT004, '-') 
                      AS RAAGPLZORT, ISNULL(dbo.LG003.LGSTR003, '-') AS RALGSTR, ISNULL(dbo.AG004.AGSTR004, '-') AS RAAGSTR
FROM         dbo.RA010 LEFT OUTER JOIN
                      dbo.AG004 ON dbo.RA010.AG010 = dbo.AG004.AGNAME004 LEFT OUTER JOIN
                      dbo.LG003 ON dbo.RA010.LG010 = dbo.LG003.LGNAME003
GO
/****** Objekt:  StoredProcedure [dbo].[NOTARE_ListeBewerberAbgelehnt]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- anlegen
CREATE PROCEDURE [NOTARE_ListeBewerberAbgelehnt]  @ID012 uniqueidentifier   AS


DECLARE @RangNr  Varchar(3)
DECLARE @Punkte varchar(10)
DECLARE @Titel varchar(20)
DECLARE @Anrede varchar(50)
DECLARE @Vorname  Varchar(255)
DECLARE @Nachname Varchar(255) 
DECLARE @FormatString varchar(2000)
DECLARE @ResultRangNamePunkte varchar(4000)
DECLARE @ResultRANachname varchar(4000)

SET @ResultRangNamePunkte =''
SET @ResultRANachname =''

-- Cursor für Stellendaten
DECLARE Bewerber_cursor CURSOR FOR
SELECT IsNull(Vorname010,''), Nachname010, ISNULL(Titel010,''), ISNULL(Anrede010,''),ISNULL(Rang013,''), CAST(CONVERT(money,ISNULL(PUNKTESUM013,0)) as varchar(30)) 
FROM Bewerb013 INNER JOIN RA010 on FK010013 = ID010
WHERE FK012013 = Cast(@ID012 as uniqueidentifier) AND ISNULL(Zusage013,0) = 0
ORDER BY Rang013

-- Cursor öffnen
OPEN Bewerber_cursor
-- 1. DS
FETCH NEXT FROM Bewerber_cursor
INTO @Vorname, @Nachname, @Titel, @Anrede, @RangNr , @Punkte
	
-- Alle Datensätze durchlaufen
WHILE @@FETCH_STATUS = 0
BEGIN

	SET @FormatString = @RangNr + ')' + CHAR(9) +  @Anrede + ' ' + 
		CASE WHEN @Titel = '' THEN @Nachname ELSE @Titel + ' ' + @Nachname END + ', ' + @Vorname + CHAR(9) + CHAR(9) + CHAR(9) + @Punkte + ' Punkte ' 
	SET @ResultRangNamePunkte = @ResultRangNamePunkte + CHAR(13) + @FormatString

	SET @FormatString =   CASE WHEN @Anrede = 'Frau' THEN 'Rechtsanwältin ' ELSE 'Rechtsanwalt ' END  +  ' ' + 
		CASE WHEN @Titel = '' THEN @Nachname ELSE @Titel + ' ' + @Nachname END
	SET @ResultRANachname = @ResultRANachname + CHAR(13) + @FormatString
	
	-- nächsten DS
	FETCH NEXT FROM Bewerber_cursor
	INTO @Vorname, @Nachname, @Titel, @Anrede, @RangNr , @Punkte
END

SELECT @ResultRangNamePunkte as ListeBewerberAbgelehnt_RangNamePunkte, @ResultRANachname as ListeBewerberAbgelehnt_RANachname

-- print @ResultString
-- Cursor Schliessen
CLOSE Bewerber_cursor
DEALLOCATE Bewerber_cursor
GO
/****** Objekt:  View [dbo].[AnzahlBewerber]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [AnzahlBewerber]
AS
SELECT     dbo.RA010.ID010, COUNT(*) AS AnzBewerber
FROM         dbo.RA010 INNER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013 AND dbo.RA010.STATUS010 = 'Bewerber' LEFT OUTER JOIN
                      dbo.STELLEN012 ON dbo.STELLEN012.ID012 = dbo.BEWERB013.FK012013 LEFT OUTER JOIN
                      dbo.BEWERB013 Mitbewerber ON Mitbewerber.FK012013 = dbo.STELLEN012.ID012
GROUP BY dbo.RA010.ID010
GO
/****** Objekt:  StoredProcedure [dbo].[NOTARE_ListeBewerber]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Anlegen
CREATE PROCEDURE [NOTARE_ListeBewerber]  @ID012 uniqueidentifier   AS

DECLARE @RangNr  Varchar(3)
DECLARE @Punkte varchar(30)
DECLARE @Titel varchar(20)
DECLARE @Anrede varchar(50)
DECLARE @Vorname  Varchar(255)
DECLARE @Nachname Varchar(255) 
DECLARE @FormatString varchar(2000)
DECLARE @ResultRangNamePunkte varchar(4000)
DECLARE @ResultRANachname varchar(4000)

SET @ResultRangNamePunkte =''
SET @ResultRANachname =''

-- Cursor für Stellendaten
DECLARE Bewerber_cursor CURSOR FOR
SELECT IsNull(Vorname010,''), Nachname010, ISNULL(Titel010,''), ISNULL(Anrede010,''),ISNULL(Rang013,''), CAST(CONVERT(money,ISNULL(PUNKTESUM013,0)) as varchar(30)) 
FROM Bewerb013 INNER JOIN RA010 on FK010013 = ID010
WHERE FK012013 = Cast(@ID012 as uniqueidentifier)
ORDER BY Rang013

-- Cursor öffnen
OPEN Bewerber_cursor
-- 1. DS
FETCH NEXT FROM Bewerber_cursor
INTO @Vorname, @Nachname, @Titel, @Anrede, @RangNr , @Punkte
	
-- Alle Datensätze durchlaufen
WHILE @@FETCH_STATUS = 0
BEGIN

	SET @FormatString = @RangNr + ')' + CHAR(9) +  @Anrede + ' ' + 
		CASE WHEN @Titel = '' THEN @Nachname ELSE @Titel + ' ' + @Nachname END + ', ' + @Vorname + CHAR(9) + CHAR(9) + CHAR(9) + @Punkte + ' Punkte ' 
	SET @ResultRangNamePunkte = @ResultRangNamePunkte + CHAR(13) + @FormatString

	SET @FormatString =   CASE WHEN @Anrede = 'Frau' THEN 'Rechtsanwältin ' ELSE 'Rechtsanwalt ' END  +  ' ' + 
		CASE WHEN @Titel = '' THEN @Nachname ELSE @Titel + ' ' + @Nachname END
	SET @ResultRANachname = @ResultRANachname  + CHAR(13) + @FormatString
	-- nächsten DS
	FETCH NEXT FROM Bewerber_cursor
	INTO @Vorname, @Nachname, @Titel, @Anrede, @RangNr , @Punkte
END

SELECT @ResultRangNamePunkte as ListeBewerber_RangNamePunkte, @ResultRANachname as ListeBewerber_RANachname

-- Cursor Schliessen
CLOSE Bewerber_cursor
DEALLOCATE Bewerber_cursor
GO
/****** Objekt:  StoredProcedure [dbo].[NOTARE_ListeBewerberZugesagt]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Anlegen
CREATE PROCEDURE [NOTARE_ListeBewerberZugesagt]  @ID012 uniqueidentifier   AS


DECLARE @RangNr  Varchar(3)
DECLARE @Punkte varchar(10)
DECLARE @Titel varchar(20)
DECLARE @Anrede varchar(50)
DECLARE @Vorname  Varchar(255)
DECLARE @Nachname Varchar(255) 
DECLARE @FormatString varchar(2000)
DECLARE @ResultRangNamePunkte varchar(4000)
DECLARE @ResultRANachname varchar(4000)

SET @ResultRangNamePunkte =''
SET @ResultRANachname =''

-- Cursor für Stellendaten
DECLARE Bewerber_cursor CURSOR FOR
SELECT IsNull(Vorname010,''), Nachname010, ISNULL(Titel010,''), ISNULL(Anrede010,''),ISNULL(Rang013,''), CAST(CONVERT(money,ISNULL(PUNKTESUM013,0)) as varchar(30)) 
FROM Bewerb013 INNER JOIN RA010 on FK010013 = ID010
WHERE FK012013 = Cast(@ID012 as uniqueidentifier) AND ISNULL(Zusage013,0) = -1
ORDER BY Rang013

-- Cursor öffnen
OPEN Bewerber_cursor
-- 1. DS
FETCH NEXT FROM Bewerber_cursor
INTO @Vorname, @Nachname, @Titel, @Anrede, @RangNr , @Punkte
	
-- Alle Datensätze durchlaufen
WHILE @@FETCH_STATUS = 0
BEGIN

	SET @FormatString = @RangNr + ')' + CHAR(9) +  @Anrede + ' ' + 
		CASE WHEN @Titel = '' THEN @Nachname ELSE @Titel + ' ' + @Nachname END + ', ' + @Vorname + CHAR(9) + CHAR(9) + CHAR(9) + @Punkte + ' Punkte ' 
	SET @ResultRangNamePunkte = @ResultRangNamePunkte + CHAR(13) + @FormatString

	SET @FormatString =   CASE WHEN @Anrede = 'Frau' THEN 'Rechtsanwältin ' ELSE 'Rechtsanwalt ' END  +  ' ' + 
		CASE WHEN @Titel = '' THEN @Nachname ELSE @Titel + ' ' + @Nachname END
	SET @ResultRANachname = @ResultRANachname + CHAR(13) + @FormatString

	-- nächsten DS
	FETCH NEXT FROM Bewerber_cursor
	INTO @Vorname, @Nachname, @Titel, @Anrede, @RangNr , @Punkte
END

SELECT @ResultRangNamePunkte as ListeBewerberZugesagt_RangNamePunkte, @ResultRANachname as ListeBewerberZugesagt_RANachname

-- Cursor Schliessen
CLOSE Bewerber_cursor
DEALLOCATE Bewerber_cursor
GO
/****** Objekt:  View [dbo].[BewerberDaten]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Neuanlegen
CREATE VIEW [BewerberDaten]
AS
SELECT     RA010.ID010 AS PersID, BEWERB013.EINGANG013 AS BewerberBewDatum, ISNULL(BEWERB013.RANG013, '') AS BewerberRang, 
                      ISNULL(CAST(BEWERB013.PUNKTE01013 AS Varchar(8)), '-') AS BewerberNoteStaatsEx, 
					  ISNULL(BEWERB013.PUNKTE03013, 0) AS BewerberPunkteStaatsexamen,  
						ISNULL(CAST(BEWERB013.PUNKTE02013 AS Varchar(8)), '-') AS BewerberNoteFachprüfung, 
					  ISNULL(BEWERB013.PUNKTE04013, 0) AS BewerberPunkteFachprüfung,  
                      ISNULL(BEWERB013.PUNKTESUM013, 0) AS BewerberPunkte,  
                      RA010.ID010 AS BewerberPersID, 
                      BEWERB013.FK012013 AS StellenID 
FROM         RA010 INNER JOIN
                      BEWERB013 ON RA010.ID010 = BEWERB013.FK010013
GO
/****** Objekt:  View [dbo].[MitbewerberAbgesagtDaten]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Anlegen
CREATE VIEW [MitbewerberAbgesagtDaten]
AS
SELECT     TOP 100 PERCENT RA010.ID010 AS PersID, CASE WHEN ISNULL(RA010.TITEL010, '') = '' THEN ISNULL(RA010.NACHNAME010, '') 
                      + ', ' + ISNULL(RA010.VORNAME010, '') ELSE ISNULL(RA010.TITEL010, '') + ' ' + ISNULL(RA010.NACHNAME010, '') 
                      + ', ' + ISNULL(RA010.VORNAME010, '') END AS AMitbewerberVoll, CASE WHEN ISNULL(RA010.TITEL010, '') 
                      = '' THEN RA010.NACHNAME010 ELSE ISNULL(RA010.TITEL010, '') + ' ' + RA010.NACHNAME010 END AS AMitbewerberNachname, 
                      ISNULL(RA010.ANREDE010, '') AS AMitbewerberAnrede, ISNULL(RA010.TITEL010, '') AS AMitbewerberTitel, ISNULL(RA010.NAMEZUS010, 
                      '') AS AMitbewerberNamenszusatz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geehrte Frau' ELSE 'Sehr geehrter Herr' END AS AMitbewerberAnredeVoll, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin' ELSE 'Herrn Rechtsanwalt' END AS AMitbewerberAnredeFormal, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geerhrte Frau ' ELSE 'Sehr geehrter Herr ' END + CASE WHEN ISNULL(TITEL010, '') 
                      = '' THEN RA010.NACHNAME010 ELSE ISNULL(TITEL010, '') + ' ' + RA010.NACHNAME010 END AS AMitbewerberAnredeVollName, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin ' ELSE 'Herr Rechtsanwalt ' END + CASE WHEN ISNULL(TITEL010, '') 
                      = '' THEN ISNULL(RA010.VORNAME010, '') + ' ' + RA010.NACHNAME010 ELSE ISNULL(TITEL010, '') + ' ' + ISNULL(RA010.VORNAME010, '') 
                      + ' ' + RA010.NACHNAME010 END AS AMitbewerberAnredeFormalName, ISNULL(RA010.AMTORT010, '-') AS AMitbewerberAmtssitz, 
                      BEWERB013.EINGANG013 AS AMitbewerberBewDatum, RA010.AZ010 AS AMitbewerberAZVI, ISNULL(BEWERB013.RANG013, '') 
                      AS AMitbewerberRang, RA010.AG010 AS AMitbewerberAGzugelassen, RA010.LG010 AS AMitbewerberLGZugelassen, 
                      ISNULL(RA010.VORNAME010, '') AS AMitbewerberVorname, ISNULL(CAST(BEWERB013.PUNKTE01013 AS Varchar(8)), '-') 
                      AS AMitbewerberNoteStaatsEx, ISNULL(BEWERB013.PUNKTE03013, 0) AS AMitbewerberPunkteStaatsexamen, 
                       CAST(CONVERT(money,ISNULL(BEWERB013.PUNKTESUM013, 0)) AS varchar(30)) AS AMitbewerberPunkte,  
                      RA010.ID010 AS AMitbewerberPersID, BEWERB013.FK012013 AS StellenID, 
						CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RechtsanwÃ¤ltin ' ELSE 'Rechtsanwalt ' END AS AMitbewerberAmtsbez,
                       CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RA in ' ELSE 'RA ' END AS AMitbewerberAmtsbezKurz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Notarin' ELSE 'Notar ' END AS AMitbewerberNotar
FROM         RA010 INNER JOIN
                      BEWERB013 ON RA010.ID010 = BEWERB013.FK010013
 WHERE  (BEWERB013.ZUSAGE013 = 0)
ORDER BY ISNULL(BEWERB013.RANG013, '')
GO
/****** Objekt:  View [dbo].[MitbewerberZugesagtDaten]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Anlegen
CREATE VIEW [MitbewerberZugesagtDaten]
AS
SELECT     TOP 100 PERCENT RA010.ID010 AS PersID, CASE WHEN ISNULL(RA010.TITEL010, '') = '' THEN ISNULL(RA010.NACHNAME010, '') 
                      + ', ' + ISNULL(RA010.VORNAME010, '') ELSE ISNULL(RA010.TITEL010, '') + ' ' + ISNULL(RA010.NACHNAME010, '') 
                      + ', ' + ISNULL(RA010.VORNAME010, '') END AS ZMitbewerberVoll, CASE WHEN ISNULL(RA010.TITEL010, '') 
                      = '' THEN RA010.NACHNAME010 ELSE ISNULL(RA010.TITEL010, '') + ' ' + RA010.NACHNAME010 END AS ZMitbewerberNachname, 
                      ISNULL(RA010.ANREDE010, '') AS ZMitbewerberAnrede, ISNULL(RA010.TITEL010, '') AS ZMitbewerberTitel, ISNULL(RA010.NAMEZUS010, 
                      '') AS ZMitbewerberNamenszusatz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geehrte Frau' ELSE 'Sehr geehrter Herr' END AS ZMitbewerberAnredeVoll, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin' ELSE 'Herrn Rechtsanwalt' END AS ZMitbewerberAnredeFormal, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Sehr geerhrte Frau ' ELSE 'Sehr geehrter Herr ' END + CASE WHEN ISNULL(RA010.TITEL010, '') 
                      = '' THEN RA010.NACHNAME010 ELSE ISNULL(RA010.TITEL010, '') + ' ' + RA010.NACHNAME010 END AS ZMitbewerberAnredeVollName, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Frau Rechtsanwältin ' ELSE 'Herr Rechtsanwalt ' END + CASE WHEN ISNULL(RA010.TITEL010, '') 
                      = '' THEN ISNULL(RA010.VORNAME010, '') + ' ' + RA010.NACHNAME010 ELSE ISNULL(RA010.TITEL010, '') 
                      + ' ' + ISNULL(RA010.VORNAME010, '') + ' ' + RA010.NACHNAME010 END AS ZMitbewerberAnredeFormalName, 
                      ISNULL(RA010.AMTORT010, '-') AS ZMitbewerberAmtssitz, BEWERB013.EINGANG013 AS ZMitbewerberBewDatum, 
                      RA010.AZ010 AS ZMitbewerberAZVI, ISNULL(BEWERB013.RANG013, '') AS ZMitbewerberRang, 
                      RA010.AG010 AS ZMitbewerberAGzugelassen, RA010.LG010 AS ZMitbewerberLGZugelassen, ISNULL(RA010.VORNAME010, '') 
                      AS ZMitbewerberVorname, ISNULL(CAST(BEWERB013.PUNKTE01013 AS Varchar(8)), '-') AS ZMitbewerberNoteStaatsEx, 
						ISNULL(BEWERB013.PUNKTE03013, 0)  AS ZMitbewerberPunkteStaatsexamen, 
					 CAST(CONVERT(money, ISNULL(BEWERB013.PUNKTESUM013, 0)) AS varchar(30)) AS ZMitbewerberPunkte, 
                      RA010.ID010 AS ZMitbewerberPersID,  BEWERB013.FK012013 AS StellenID, 
                      ISNULL(CAST(BEWERB013.PUNKTE02013 AS Varchar(8)), '-') AS ZMitbewerberNoteFachprüfung, 
						ISNULL(BEWERB013.PUNKTE04013, 0)  AS ZMitbewerberPunkteFachprüfung,
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Rechtsanwältin ' ELSE 'Rechtsanwalt ' END AS ZMitbewerberAmtsbez, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'RA in ' ELSE 'RA ' END AS ZMitbewerberAmtsbezKurz, 
                      CASE WHEN RA010.ANREDE010 = 'Frau' THEN 'Notarin' ELSE 'Notar ' END AS ZMitbewerberKurz
FROM         RA010 INNER JOIN
                      BEWERB013 ON RA010.ID010 = BEWERB013.FK010013
					  WHERE  (BEWERB013.ZUSAGE013 = - 1)
ORDER BY ISNULL(BEWERB013.RANG013, '')
GO
/****** Objekt:  View [dbo].[PunkteBewerber]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Anlegen
CREATE VIEW [PunkteBewerber]
AS
SELECT     ISNULL(CAST(BEWERB013.PUNKTE01013 AS Varchar(8)), '-') AS NoteStaatsEx, ISNULL(BEWERB013.PUNKTE03013, 0) AS PunkteStaatsexamen, 
                      ISNULL(CAST(BEWERB013.PUNKTE01013 AS Varchar(8)), '-') AS NoteFachprüfung, 
					  ISNULL(BEWERB013.PUNKTE03013, 0) AS PunkteFachprüfung,
                      ISNULL(BEWERB013.PUNKTESUM013, 0) AS Punkte, STELLEN012.FRIST012 AS Bewebungsfrist, 
					  RA010.ID010 AS PersID
FROM         RA010 LEFT OUTER JOIN
                      BEWERB013 ON RA010.ID010 = BEWERB013.FK010013 LEFT OUTER JOIN
                      STELLEN012 ON STELLEN012.ID012 = BEWERB013.FK012013
GO
/****** Objekt:  StoredProcedure [dbo].[NOTARE_DeleteBewerberInfos]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [NOTARE_DeleteBewerberInfos]  AS

-- Note Staatsexamen lÃ¶schen
UPDATE RA010 SET RA010.EXANOTE010 = Null WHERE STATUS010 ='Notar' 
OR STATUS010 = 'ausgeschieden' OR STATUS010 ='a. D.'

-- BewerbungsdatensÃ¤tze lÃ¶schen
DELETE BEWERB013
FROM BEWERB013 INNER JOIN RA010 ON BEWERB013.FK010013 = RA010.ID010
WHERE (RA010.STATUS010 ='Notar' 
OR RA010.STATUS010 = 'ausgeschieden' OR RA010.STATUS010 ='a. D.')
GO
/****** Objekt:  StoredProcedure [dbo].[NOTARE_Punkteauflistung]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [NOTARE_Punkteauflistung] @ID010 uniqueidentifier  AS


DECLARE @a Varchar(4000)
SET @a = (
SELECT '1.' + CHAR(9) +	'StaatsprÃ¼fung (Â§ 6 Abs. 2 Nr. 1 AVNot):' + CHAR(9) + CHAR(9) + CHAR(9) + CHAR(9) + CAST(ISNULL(dbo.RA010.EXANOTE010, 0) * 5 AS varchar(10)) + ' Punkte' + CHAR(13) 
+ CHAR(9) + '(' + ISNULL(CAST(dbo.RA010.EXANOTE010 AS Varchar(8)), '-') + ' Punkte x 5)' + CHAR(13) 
+ '2.' + CHAR(9) + 'Dauer der AnwaltstÃ¤tigkeit (Â§ 6 Abs. 2 Nr. 2 AVNot):' + CHAR(9) + + CHAR(9) + CAST(ISNULL(dbo.BEWERB013.PUNKTE05013, 0) as varchar(5)) + ' Punkte' + CHAR(13) + CHAR(9) + '(' + CAST(ISNULL(DATEDIFF([month], dbo.RA010.ANWALTSEIT010, dbo.STELLEN012.FRIST012), 0) as Varchar(4)) + 'Monate x 0,25 einschlieÃŸlich 15 Monate Grundwehrdienst;' + CHAR(13)
+ CHAR(9) + 'jedoch maximal 45 Punkte)' + CHAR(13) 
+ '3.' + CHAR(9) + 'Fortbildungskurse (Â§ 6 Abs. 2 Nr. 3 AVNot):' + CHAR(13)
+ CHAR(9) + 'a) innerhalb der letzen drei Jahre: ' + CAST(ISNULL(dbo.BEWERB013.PUNKTE13013, 0) as Varchar(4)) + ' x 0,6' + CHAR(9) + CHAR(9) + CAST(ISNULL(dbo.BEWERB013.PUNKTE06013, 0) as varchar(4)) + ' Punkte' + CHAR(13)
+ CHAR(9) + 'b) sonstige Kurse: ' + Cast(ISNULL(dbo.BEWERB013.PUNKTE14013, 0) as varchar(4)) + ' x 0,3' + CHAR(9) + CHAR(9) + CHAR(9) + CHAR(9) + CAST(ISNULL(dbo.BEWERB013.PUNKTE07013, 0) as varchar(4)) + ' Punkte' + CHAR(13)
+ CHAR(9) + 'Insgesamt:' + CHAR(9) + CHAR(9) + CHAR(9) + CHAR(9) + CHAR(9) + CHAR(9) + CHAR(9) + CAST(ISNULL(dbo.BEWERB013.PUNKTE07013, 0) as varchar(4)) + ' Punkte' + CHAR(13)
+ '4.' + CHAR(9) + 'Niederschriften (Â§ 6 Abs. 2 Nr. 4 AVNot):' + CHAR(13)
+ CHAR(9) + 'a) innerhalb der letzten drei Jahre bei mindestens ' + CHAR(9) + CHAR(9) + CAST(ISNULL(dbo.BEWERB013.PUNKTE08013, 0) as varchar(4)) + ' Punkte' + CHAR(13)
+ CHAR(9) + 'zweiwÃ¶chiger Vertretung: ' + CAST(ISNULL(dbo.BEWERB013.PUNKTE02013, 0) as varchar(6)) + ' x 0,2' + CHAR(13)
+ CHAR(9) + 'b) sonstige Vertretungen: ' + Cast(ISNULL(dbo.BEWERB013.PUNKTE18013, 0) as varchar(6)) + ' x 0,1' + CHAR(9) + CHAR(9) + CHAR(9) + CHAR(9) + Cast(ISNULL(dbo.BEWERB013.PUNKTE09013, 0) as varchar(6)) + ' Punkte'

FROM dbo.RA010 LEFT OUTER JOIN
                      dbo.BEWERB013 ON dbo.RA010.ID010 = dbo.BEWERB013.FK010013 LEFT OUTER JOIN
                      dbo.STELLEN012 ON dbo.STELLEN012.ID012 = dbo.BEWERB013.FK012013
WHERE ID010 = '{E682E548-A8C3-44ED-860C-2F798B8C3864}'
)
Print @a
GO
/****** Objekt:  View [dbo].[AbsenderDaten]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [AbsenderDaten]
AS
SELECT     ISNULL(TEL001, '') AS AbsenderTel, ISNULL(FAX001, '') AS AbsenderFax, ISNULL(EMAIL001, '') AS AbsenderEmail, ID001, ISNULL(VORNAME001, '') 
                      + ', ' + ISNULL(NACHNAME001, '') AS Absender
FROM         dbo.USER001
GO
/****** Objekt:  View [dbo].[AusschreibungsDaten]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [AusschreibungsDaten]
AS
SELECT     JAHR020 AS AusschreibungJahr, AZ020 AS AusschreibungAZ, ID020 AS AusschreibungID
FROM         dbo.AUSSCHREIBUNG020
GO
/****** Objekt:  StoredProcedure [dbo].[NOTARE_ListeAusgeschriebeneStellen]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [NOTARE_ListeAusgeschriebeneStellen] @ID020 varchar(50) AS

DECLARE @Bezirk varchar(255)							-- Bezirk der Ausgeschriebenen Stelle(n)
DECLARE @Anz varchar(10)							-- Anzahl der zu besetzenden Stellen
DECLARE @FormatString varchar(4000)                				-- Aktuell zusammengesetzter String
DECLARE @ResultString varchar(4000)						-- Gesamter Ergebnis String
DECLARE @Counter Varchar(3)							-- ZÃ¤hler
DECLARE @StrOffset int 							-- Zeichen Offset zwischen Bezirk und Anz Stellen
DECLARE @Buffer Varchar(15)

SET @ResultString =''
SET @Counter ='1'
SET @Buffer = '               '

DECLARE Stellen_cursor CURSOR FOR
SELECT AGName004, SUM(ANZ012) 
FROM AG004 Left JOIN (STELLEN012 
	INNER JOIN AUSSCHREIBUNG020 ON ID020 = FK020012 
	) ON AGName004 = Bezirk012
WHERE ID020  = @ID020
GROUP BY AGName004
ORDER BY AGName004

OPEN Stellen_cursor								-- Cursor Ã¶ffnen
FETCH NEXT FROM Stellen_cursor						-- 1. DS
INTO @Bezirk, @Anz
	
WHILE @@FETCH_STATUS = 0						-- Alle DatensÃ¤tze durchlaufen
BEGIN
	SET @StrOffset = 15 - Len(@Bezirk)
	--SET @FormatString = @Counter + '. ' + @Bezirk + Left(@Buffer,@StrOffset) + @Anz
	SET @FormatString = @Counter + '. ' + @Bezirk + CHAR(9) + CHAR(9) + CHAR(9) + @Anz
	SET @ResultString = @ResultString  + CHAR(13) + @FormatString
	SET @Counter = @Counter +1 
	-- nÃ¤chsten DS
	FETCH NEXT FROM Stellen_cursor					-- NÃ¤chsten DS
	INTO @Bezirk, @Anz	
END
	
SELECT @ResultString as ListeAusgeschreibeneStellen				-- Ergebniss zurÃ¼ck

-- print @ResultString
CLOSE Stellen_cursor								-- Cursor Schliessen
DEALLOCATE Stellen_cursor
GO
/****** Objekt:  View [dbo].[MitbewerberDaten]    Skriptdatum: 09/23/2011 13:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Anlegen
CREATE VIEW [MitbewerberDaten]
AS
SELECT     TOP 100 PERCENT EmpfängerDaten.PersID, EmpfängerDaten.PersID AS MitbewerberPersID, BEWERB013.ID013, 
                      EmpfängerDaten.RAVornameNachname AS MitbewerberVoll, EmpfängerDaten.RANachname AS MitbewerberNachname, 
                      EmpfängerDaten.RAVorname AS MitbewerberVorname, EmpfängerDaten.RAAnrede AS MitbewerberAnrede, 
                      EmpfängerDaten.RAAnredeVoll AS MitbewerberAnredeVoll, EmpfängerDaten.RAAnredeFormal AS MitbewerberAnredeFormal, 
                      EmpfängerDaten.RAAnredeVollName AS MitbewerberAnredeVollName, 
                      EmpfängerDaten.RAAnredeFormalName AS MitbewerberAnredeFormalName, EmpfängerDaten.RAAmtssitz AS MitbewerberAmtssitz, 
                      BEWERB013.EINGANG013 AS MitbewerberBewDatum, EmpfängerDaten.RAAZVI AS MitbewerberAZVI, ISNULL(BEWERB013.RANG013, '') 
                      AS MitbewerberRang, EmpfängerDaten.RAAGzugelassen AS MitbewerberAGzugelassen, 
                      EmpfängerDaten.RALGZugelassen AS MitbewerberLGZugelassen,  
                       ISNULL(BEWERB013.PUNKTESUM013, 0) AS MitbewerberPunkte, 
                      BEWERB013.FK012013 AS StellenID,  IsNull(BEWERB013.PUNKTE02013,0) AS MitbewerberNoteFachprüfung,
						IsNull(BEWERB013.PUNKTE04013,0) AS MitbewerberPunkteFachprüfung,
                      EmpfängerDaten.RAAmtsbez AS MitbewerberAmtsbez, EmpfängerDaten.RAAmtsbezKurz AS MitbewerberAmtsbezKurz, 
                      EmpfängerDaten.RANotar AS MitbewerberNotar, BEWERB013.PUNKTE01013 AS MitbewerberNoteStaatsexamen, 
                      BEWERB013.PUNKTE03013 AS MitbewerberPunkteStaatsexamen
FROM         BEWERB013 RIGHT OUTER JOIN
                      EmpfängerDaten ON BEWERB013.FK010013 = EmpfängerDaten.PersID
ORDER BY ISNULL(BEWERB013.RANG013, '')
GO
/****** Objekt:  ForeignKey [FK_AFORT014_FORT011]    Skriptdatum: 09/23/2011 13:14:40 ******/
ALTER TABLE [AFORT014]  WITH CHECK ADD  CONSTRAINT [FK_AFORT014_FORT011] FOREIGN KEY([FK011014])
REFERENCES [FORT011] ([ID011])
GO
ALTER TABLE [AFORT014] CHECK CONSTRAINT [FK_AFORT014_FORT011]
GO
/****** Objekt:  ForeignKey [FK_AFORT014_RA010]    Skriptdatum: 09/23/2011 13:14:40 ******/
ALTER TABLE [AFORT014]  WITH NOCHECK ADD  CONSTRAINT [FK_AFORT014_RA010] FOREIGN KEY([FK010014])
REFERENCES [RA010] ([ID010])
GO
ALTER TABLE [AFORT014] CHECK CONSTRAINT [FK_AFORT014_RA010]
GO
/****** Objekt:  ForeignKey [FK_AG004_LG003]    Skriptdatum: 09/23/2011 13:14:40 ******/
ALTER TABLE [AG004]  WITH NOCHECK ADD  CONSTRAINT [FK_AG004_LG003] FOREIGN KEY([FK003004])
REFERENCES [LG003] ([ID003])
GO
ALTER TABLE [AG004] CHECK CONSTRAINT [FK_AG004_LG003]
GO
/****** Objekt:  ForeignKey [FK_AKTENORT017_RA010]    Skriptdatum: 09/23/2011 13:14:40 ******/
ALTER TABLE [AKTENORT017]  WITH NOCHECK ADD  CONSTRAINT [FK_AKTENORT017_RA010] FOREIGN KEY([FK010017])
REFERENCES [RA010] ([ID010])
GO
ALTER TABLE [AKTENORT017] CHECK CONSTRAINT [FK_AKTENORT017_RA010]
GO
/****** Objekt:  ForeignKey [FK_BEWERB013_RA010]    Skriptdatum: 09/23/2011 13:14:40 ******/
ALTER TABLE [BEWERB013]  WITH NOCHECK ADD  CONSTRAINT [FK_BEWERB013_RA010] FOREIGN KEY([FK010013])
REFERENCES [RA010] ([ID010])
GO
ALTER TABLE [BEWERB013] CHECK CONSTRAINT [FK_BEWERB013_RA010]
GO
/****** Objekt:  ForeignKey [FK_BEWERB013_STELLEN012]    Skriptdatum: 09/23/2011 13:14:40 ******/
ALTER TABLE [BEWERB013]  WITH NOCHECK ADD  CONSTRAINT [FK_BEWERB013_STELLEN012] FOREIGN KEY([FK012013])
REFERENCES [STELLEN012] ([ID012])
GO
ALTER TABLE [BEWERB013] CHECK CONSTRAINT [FK_BEWERB013_STELLEN012]
GO
/****** Objekt:  ForeignKey [FK_DOC018_RA010]    Skriptdatum: 09/23/2011 13:14:40 ******/
ALTER TABLE [DOC018]  WITH NOCHECK ADD  CONSTRAINT [FK_DOC018_RA010] FOREIGN KEY([FK010018])
REFERENCES [RA010] ([ID010])
GO
ALTER TABLE [DOC018] CHECK CONSTRAINT [FK_DOC018_RA010]
GO
/****** Objekt:  ForeignKey [FK_LG003_OLG002]    Skriptdatum: 09/23/2011 13:14:40 ******/
ALTER TABLE [LG003]  WITH CHECK ADD  CONSTRAINT [FK_LG003_OLG002] FOREIGN KEY([FK002003])
REFERENCES [OLG002] ([ID002])
GO
ALTER TABLE [LG003] CHECK CONSTRAINT [FK_LG003_OLG002]
GO
